@import url('agent_style.css');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

.visi {
    overflow: visible !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    color: #16120f;
    font-size: 13px;
    line-height: normal;
    overflow: auto;
    overflow-x: hidden;
    background: #fff !important;
    font-size: 75%;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

    a:focus {
        color: none !important;
        box-shadow: none !important;
    }

button {
    cursor: pointer;
}

.clear {
    clear: both;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif !important;
    color: #131211;
}


h1, h2, h3, h4, h5, h6, strong {
    margin: 0;
}

i, em {
    font-style: italic;
}

ul li {
    list-style-type: none;
}

a:hover {
    text-decoration: none !important;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a {
    color: #ffffff;
}
    /* unvisited link */
    a:visited {
        color: #ffffff;
    }
    /* visited link */
    a:hover {
        color: #ffffff;
    }
    /* mouse over link */
    a:active {
        color: #ffffff;
    }

.disabled {
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff; /* or add it to the track */
}
/* Add a thumb */
::-webkit-scrollbar-thumb {
    background: #3b5998;
}

.top-header {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

    .top-header .nav-drop {
        margin-top: 35px;
        margin-left: -105px;
    }

.bootstrap-select.btn-group .dropdown-toggle .caret {
    display: none;
}

.bootstrap-select .btn:focus {
    outline: none !important;
    border: none;
}

.bootstrap-select .btn-default {
    border: none;
    padding: 0px;
    font-size: 14px;
    border-bottom: 1px solid #fff;
}

    .bootstrap-select .btn-default:hover {
        color: #333;
        background-color: #fff;
        border-color: #fff;
        box-shadow: none;
    }

    .bootstrap-select .btn-default:active {
        color: #333;
        background-color: #fff !important;
        border-color: #fff !important;
        box-shadow: none !important;
    }

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    min-width: 0px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 0px;
    font-size: 10px;
    background: #fff;
}

.btn-group.open .dropdown-toggle {
    border: none;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff !important;
    border-color: none !important;
    border-bottom: 1px solid #fff;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.dropdown-menu .inner li:nth-child(1) {
    background: none !important;
    font-weight: 500;
}

.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #fff !important;
    border-color: none !important;
    box-shadow: none !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0 !important;
    outline: 0 !important;
    outline-offset: 0 !important;
}

.dropdown-menu .inner li:focus {
    border: none !important;
}

.button-group {
    float: right;
    display: inline-block;
    width: 100%;
    text-align: right;
}

    .button-group li {
        display: inline-block;
    }

        .button-group li a {
            padding: 7px 14px;
            display: block;
            border-radius: 4px;
            border: 1px solid #eee;
            font-weight: 500;
        }

        .button-group li:nth-child(1) a {
            border-radius: 4px 0px 0px 4px !important;
        }

        .button-group li:nth-child(2) a {
            border-left: none !important;
        }

        .button-group li a:hover {
            color: none;
            background: #F0F3F4;
        }

        .button-group li:nth-child(1) {
            margin-right: -8px;
        }

.btn-group.open .dropdown-toggle {
    border: none;
}

.dropdown .btn-default {
    font-size: 16px;
    padding: 5px 8px;
    color: #808080;
    box-shadow: none !important;
}

    .dropdown .btn-default:hover {
        background: none !important;
        color: #337ab7;
    }

    .dropdown .btn-default:focus {
        box-shadow: 0px 0px 5px #337ab7 !important;
        background: none !important;
        color: #337ab7;
    }

.dropdown-menu > li > a {
    padding: 2px 20px;
    font-size: 12px !important;
}

.dropdown-menu {
    overflow: auto !important;
}

.bootstrap-select.btn-group .dropdown-menu li:focus {
    outline: none;
    border: none;
}

.header-top {
    background: #fff;
    height: 65px;
}

.header-bottom {
    background: #3A3F51;
}

.seachBox {
    text-align: center;
    /* display: inline-block; */
    width: 50%;
    margin: 0 auto;
}

.navigation {
    height: 42px;
}

    .navigation li {
        display: inline-block;
        margin-right: 20px;
    }

        .navigation li a {
            color: #fff;
            display: inline-block;
            padding: 11px;
            font-size: 12px;
            text-align: center;
            transition: all 0.4s ease-in-out;
            border-bottom: 2px solid #3A3F51;
        }

            .navigation li a i {
                display: block;
                margin: 0 auto;
                font-size: 20px;
                margin-bottom: 5px;
            }

            .navigation li a:hover {
                /*background-color: #9c27b0;*/
                box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0);
                border-color: #EA2330;
                background: #EA2330;
                transform: scale(1.1);
                transition: all 0.4s ease-in-out;
            }

.navActive {
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0);
    border-color: #EA2330;
    background: #EA2330;
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.Lagend_hotel_add {
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
    width: 50%;
    display: block;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    z-index: 9999;
    background: #fff;
}

    .Lagend_hotel_add span:nth-child(1) {
        display: block;
        font-size: 30px;
        border-radius: 54px;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        padding: 15px;
        background: #EB2226;
        color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }

    .Lagend_hotel_add span:nth-child(2) {
        display: block;
        font-size: 18px;
        font-weight: 300;
        margin-top: 10px;
    }

        .Lagend_hotel_add span:nth-child(2) lagend {
            color: #EA2330;
        }

.top {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.status {
    background: #ea2330;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
}

.top h2 {
    font-size: 16px;
    color: #EA2330;
}

.top2 {
    text-align: center;
}

    .top2 h3 {
        font-size: 18px;
        background: #9C27B0;
        display: -webkit-inline-box;
        padding: 10px;
        border-radius: 4px;
        font-weight: 300;
        color: #fff;
        box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
    }

.tab-header li {
    display: inline-block;
}

    .tab-header li a {
        padding: 8px;
    }

        .tab-header li a:hover {
            background: #f8f8f8;
            color: #808080;
            border-bottom: none;
        }

.tab-active {
    background: #f8f8f8;
    border: 1px solid #eee;
    color: #808080;
    border-top: 4px solid #eee;
    border-bottom: none;
    font-weight: 500;
}

.tab-panel {
    background: #f8f8f8;
    height: auto;
    border: 1px solid #eee;
    margin-top: -4px;
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.panelTitle {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

    .panelTitle span:nth-child(1) {
        font-size: 14px;
        font-weight: 600;
    }

    .panelTitle span:nth-child(2) {
        color: red;
        font-size: 12px;
        font-weight: 500;
    }

.tab-panel .form-group {
    display: -webkit-box;
}

.nav > li > a {
    color: #18bc9c !important;
    font-size: 14px !important;
}

    .nav > li > a:hover {
        background: #f8f8f8 !important;
        color: #808080 !important;
    }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #fff !important;
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 12px;
}

.panel-first {
    display: inline-block;
    width: 100%;
}

.tab-content {
    padding-top: 20px;
    background: #fff;
    border: 1px solid #ddd;
    margin-top: -1px;
}

.panelBody {
    display: block;
    padding: 20px;
}

    .panelBody .nice-select {
        margin-bottom: 0px !important;
    }

    .panelBody .bootstrap-select {
        width: 100% !important;
        min-width: 0px !important;
    }

    .panelBody .btn-danger {
        display: block !important;
        margin: 0 auto !important;
    }

    .panelBody .control-label {
        text-align: left !important;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        padding-top: 11px !important;
    }

    .panelBody .form-control {
        border-radius: 0px;
        font-size: 10px;
        padding-left: 18px !important;
    }

    .panelBody .bootstrap-select .btn-default {
        font-size: 10px;
    }

    .panelBody textarea {
        height: auto !important;
        overflow-x: hidden;
    }

    .panelBody .btn-primary {
        margin: 10px auto;
        display: block;
        border-radius: 0px;
        font-size: 12px;
    }

.agent_module_base {
    margin-bottom: 20px;
}

.photoButton {
    background-color: #d7d7d7;
    margin: 10px 2px;
    border: none;
    padding: 8px 15px;
    border-radius: 2px;
    color: #333;
}

    .photoButton:hover, .photoButton.active {
        background-color: #4228aa;
        color: #fff;
        cursor: pointer;
    }

.modal-bg {
    position: fixed;
    z-index: 99999999999;
    background: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-inner {
    width: 50%;
    background: #262629;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}

.modal-hdr {
    padding: 10px;
    text-align: center;
}

    .modal-hdr h2 {
        color: #fff;
        display: block;
        width: 100%;
        font-size: 24px;
        margin-bottom: 4px;
        margin-top: 0px;
    }

    .modal-hdr p {
        color: #eee;
        display: block;
        width: 100%;
    }

    .modal-hdr .fa-times-rectangle {
        color: #eee;
        font-size: 20px;
        cursor: pointer;
    }

.modal-bdy {
    padding: 10px;
    display: block;
    width: 70%;
    margin: 0 auto;
}

    .modal-bdy p {
        color: #eee;
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .modal-bdy .btn-primary {
        display: block;
        width: auto;
        margin-top: 10px;
        margin: 15px auto;
        background: #ff7a59;
        /* box-shadow: none; */
        /* border-color: #eee; */
        /* border: none; */
        /* border-radius: 0px; */
        font-size: 14px;
    }

        .modal-bdy .btn-primary:focus {
            outline: none;
            box-shadow: none;
        }

.btn-bs-file {
    position: relative;
    display: inline-block !important;
    margin: 0 auto;
    border-radius: 0px !important;
    margin-left: 35% !important;
    font-size: 14px !important;
    padding: 10px !important;
}

    .btn-bs-file input[type="file"] {
        position: absolute;
        /*top: -9999999;*/
        filter: alpha(opacity=0);
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
        cursor: inherit;
    }

#gallery .thumbnail {
    display: inline-block !important;
    box-shadow: 0px 0px 11px rgba(0,0,0,0.1);
}

    #gallery .thumbnail > img, .thumbnail > img {
        opacity: 0.8;
        transition: all 0.4s ease-in-out;
    }

        #gallery .thumbnail > img:hover {
            opacity: 1;
            transition: all 0.4s ease-in-out;
            transform: scale(1.1);
            box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
            cursor: pointer;
        }

    #gallery .thumbnail span {
        font-size: 12px;
        font-weight: 600;
        color: #337ab7;
    }

        #gallery .thumbnail span:hover {
            text-decoration: underline;
            cursor: pointer;
        }

.photo-gallery {
    padding: 20px;
}

    .photo-gallery .btn-danger {
        margin-bottom: 20px;
    }

        .photo-gallery .btn-danger i {
            margin-right: 5px;
        }
/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}

    .list-arrows button {
        margin-bottom: 20px;
    }

.panel-body {
    width: 100% !important;
}

.panel-group {
    width: 90%;
    margin: 15px auto;
}


.photo_sec .panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    border: none;
    border-bottom: 1px solid;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #fff !important;
}

.btn-danger {
    color: #fff;
    background-color: #f3495a !important;
    border-color: #f3495a !important;
    border-radius: 2px !important;
    font-size: 12px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4) !important;
    font-weight: 500 !important;
    cursor: pointer !important;
}

.login_body {
    background-repeat: repeat-x;
    background-size: 75%;
    background-position: top;
    background-image: url(/Content/images/bridge.png);
    background-color: #f4f6f8;
}

.login_header {
    display: block;
    background: #fff;
    height: 50px;
    box-shadow: 0px -1px 14px rgba(0,0,0,0.1);
}

.agent_auth {
    padding: 15px !important;
}

.top_nav span {
    padding: 16px;
    color: #000;
    cursor: pointer;
}

.top_nav {
    padding: 15px;
    text-align: right;
}

    .top_nav span i {
        height: 20px;
        width: 20px;
        text-align: center;
        border: 1px solid #eee;
        color: #808080;
        border-radius: 28px;
        padding: 2px;
        box-shadow: 0px -2px 10px rgba(0,0,0,0.1);
        font-weight: 600;
        margin-left: 5px;
        transition: all 0.4s ease-in-out;
    }

    .top_nav span a {
        margin-left: 5px;
        margin-top: -7px;
    }



.triangle-with-shadow {
    width: 190px;
    height: 20px;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5); */
}

    .triangle-with-shadow:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;
        transform: rotate(45deg);
        top: 18px;
        left: 139px;
        box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
    }

.drop_body {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 10px;
}

.btn_active {
    background: #ff7a59;
    /* float: left; */
    display: block;
    padding: 10px;
    /* display: inline-block; */
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
    color: #fff !important;
}

    .btn_active:hover {
        background: #f37758;
    }

.myButton {
    display: block !important;
}

.hotelier_drop {
    display: none;
    width: 200px;
    margin-top: 30px;
    margin-left: -14px;
}

.drop_body p {
    text-align: left;
    font-weight: 500;
    color: #808080;
    overflow: hidden;
}

.drop_body hr {
    margin-top: 4px;
}

.drop_body a {
    color: #000;
    border: 1px solid #eee;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
}

.drop_body li {
    display: block;
    width: 100%;
}

    .drop_body li a {
        border: none;
        text-align: left;
        font-size: 12px;
    }

.myAcco .triangle-with-shadow:after {
    left: 100px !important;
}

.drop_body li a:hover {
    color: #3b5998;
    text-decoration: underline !important;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.ttl {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
}

.register_form {
    display: block;
    margin: 0 auto;
    width: 35%;
    background: #fff;
    border: 1px solid #eee;
    overflow: initial;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin-top: 20px !important;
    box-shadow: 0px 0px 31px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin-bottom: 20px;
}


    .register_form .btn-danger {
        width: 100%;
        font-size: 14px;
    }

    .register_form h2 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }

    .register_form p {
        background: #0094ff;
        padding: 8px;
        color: #fff;
        text-align: center;
        font-size: 14px;
    }

.passwordBase {
    display: none;
    margin-left: -822px;
}

.loginInside {
    width: 85%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

    .loginInside .eyeIcon {
        position: absolute;
        right: 45px;
        margin-top: -28px;
        cursor: pointer;
    }

.form-control {
    padding: .5625rem .625rem !important;
    border-radius: 4px !important;
    border: 2px solid #eee !important;
    font-size: 16px;
    font-size: 1rem;
    transition: all .15s ease-out;
    background-color: #fff;
    color: #33475b;
    display: block;
    height: 40px !important;
    line-height: 1.375rem;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    font-size: 14px !important;
    box-shadow: none !important;
    font-weight: 400;
}

    .form-control:focus {
        border: 2px solid #333 !important;
        box-shadow: none !important;
        outline: 0 !important;
    }

    .form-control::-webkit-input-placeholder {
        font-weight: 300 !important;
        color: #7c98b6 !important;
    }


.register_form textarea {
    height: auto !important;
}


.phone {
    padding-left: 62px !important;
}

.phoneCode {
    display: block;
    position: absolute;
    /* border-right: 1px solid #ccc; */
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #;
    background: rgba(0,208,228,.5);
    border-radius: 4px 0px 0px 4px;
    color: #fff;
}

.form-control::-webkit-input-placeholder {
    font-weight: 300;
    color: #7c98b6;
}

.loginInside label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

.btn-primary {
    background-color: #ff7a59;
    border-color: #ff7a59;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    display: block;
    transition: all 0.4s ease-in-out;
}

.form-group p {
    background: none;
    color: #808080;
    text-align: left;
    font-size: 12px;
}

    .form-group p a {
        color: #0094ff;
    }

        .form-group p a:hover {
            text-decoration: underline !important;
        }

.btn-primary:hover {
    background-color: #e66e50;
    border-color: #e66e50;
    color: #fff;
}

.mandate {
    color: red;
}

.fb_btn {
    border: 1px solid #3b5998;
    color: #3b5998;
    font-size: 14px;
    background: none;
    min-height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: capitalize;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 8px;
}

    .fb_btn:hover {
        background: #3b5998;
        color: #ffffff;
        outline: none;
    }

.google_btn {
    border: 1px solid #D44132;
    color: #D44132;
    font-size: 14px;
    background: none;
    min-height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: capitalize;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
    padding: 8px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

    .google_btn:hover {
        background: #D44132;
        color: #ffffff;
        outline: none;
    }

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.addProperty {
    display: none;
    margin-left: -822px;
}

.hotelInfo {
    display: none;
    margin-left: -822px;
}

.register_title {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #18bc9c;
    color: #fff;
    font-size: 20px;
}

    .register_title i {
        color: #fff;
    }

    .register_title span {
        display: inline-block;
        margin: 10px;
        font-weight: 500;
        margin-left: 0px;
    }

.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 0;
    }
}

.register_form .fa-arrow-left {
    font-size: 20px;
    padding: 13px;
    margin-right: 0px;
    color: #fff;
    cursor: pointer;
    display: block !important;
}

.register_form .fa-arrow-right {
    margin: 13px;
    cursor: pointer;
}

.nice-select {
    width: 100% !important;
    margin-bottom: 15px !important;
    border: 2px solid #eee !important;
}

    .nice-select .list {
        width: 100% !important;
        max-height: 400px !important;
        height: auto !important;
        overflow: auto !important;
    }

    .nice-select.open {
        border: 2px solid #333 !important;
    }

.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.logingImg {
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border-radius: 60px;
    margin-bottom: 20px;
}

    .logingImg img {
        height: 100px;
        width: 100px;
    }

.quickLinks {
    margin-bottom: 10px;
}

    .quickLinks p {
        background: none;
        padding: 0px;
        margin-bottom: 5px;
    }

        .quickLinks p a {
            color: #3b5998;
            font-size: 12px;
            margin-bottom: 0px;
            margin-top: 0px;
            font-weight: 500;
        }

            .quickLinks p a:hover {
                text-decoration: underline !important;
            }

.top_nav img {
    height: 10px;
    width: 10px;
    margin-left: 5px;
}

.drop_body img {
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 60px;
    margin: 0 auto;
}

.supportDrop {
    width: 170px !important;
}

    .supportDrop .triangle-with-shadow:after {
        left: 100px !important;
    }

.UserProfile {
    float: right;
    display: block;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

    .UserProfile span img:nth-child(1) {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    .UserProfile span img:nth-child(2) {
        width: 15px;
        margin-left: 5px;
    }

.tooltip.right {
    width: 200px !important;
}

.insideButtonLoading {
    margin-right: 10px;
    max-width: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.msgArea {
    margin-bottom: 0px !important;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.msg {
    text-align: center !important;
    font-weight: 500 !important;
    color: red !important;
}

.mailLoadingIcon {
    position: absolute;
    right: 45px;
    margin-top: -26px;
}

.validation:focus {
    border-color: #F3495A !important;
    background: rgba(243, 73, 90,0.2)!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}