html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

.visi {
    overflow: visible !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    color: #16120f;
    font-size: 13px;
    line-height: normal;
    overflow: auto;
    overflow-x: hidden;
    background: #F0F3F4;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

    a:focus {
        color: none !important;
        box-shadow: none !important;
    }

button {
    cursor: pointer;
}

.clear {
    clear: both;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif !important;
    color: #131211;
}


h1, h2, h3, h4, h5, h6, strong {
    margin: 0;
}

i, em {
    font-style: italic;
}

ul li {
    list-style-type: none;
}

a:hover {
    text-decoration: none !important;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a {
    color: #ffffff;
}
    /* unvisited link */
    a:visited {
        color: #ffffff;
    }
    /* visited link */
    a:hover {
        color: #ffffff;
    }
    /* mouse over link */
    a:active {
        color: #ffffff;
    }

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff; /* or add it to the track */
}
/* Add a thumb */
::-webkit-scrollbar-thumb {
    background: #3b5998;
}

.Dash_back {
    background: #F0F3F4 !important;
}

.login_body {
    background-repeat: repeat-x !important;
    background-size: 75% !important;
    background-position: top !important;
    background-image: url(/Content/images/bridge.png) !important;
    background-color: #f4f6f8 !important;
}

.login_header {
    display: block;
    background: #fff;
    height: 50px;
    box-shadow: 0px -1px 14px rgba(0,0,0,0.1);
}

.top_nav span {
    padding: 16px;
    font-size: 14px;
    color: #808080;
    cursor: pointer;
}

.top_nav {
    padding: 0px;
    text-align: right;
}

    .top_nav span i {
        height: 20px;
        width: 20px;
        text-align: center;
        border: 1px solid #eee;
        color: #808080;
        border-radius: 28px;
        padding: 2px;
        box-shadow: 0px -2px 10px rgba(0,0,0,0.1);
        font-weight: 600;
        margin-left: 5px;
        transition: all 0.4s ease-in-out;
    }


    .top_nav span:hover {
        color: #ec6028;
    }

        .top_nav span:hover i {
            color: #fff;
            background: #ec6028;
            border: 1px solid #ec6028;
        }

.top_active {
    color: #ec6028 !important;
}

    .top_active i {
        color: #fff !important;
        background: #ec6028 !important;
        border: 1px solid #ec6028 !important;
    }

.triangle-with-shadow {
    width: 190px;
    height: 20px;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5); */
}

    .triangle-with-shadow:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;
        transform: rotate(45deg);
        top: 18px;
        left: 139px;
        box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
    }

.drop_body {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 10px;
}

.btn_active {
    background: #ff7a59;
    /* float: left; */
    display: block;
    padding: 10px;
    /* display: inline-block; */
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
    color: #fff !important;
}

    .btn_active:hover {
        background: #f37758;
    }

.login_top .common-nav li .nav-drop {
    margin-left: -37px;
    margin-top: -9px;
}

.Dash_back .triangle-with-shadow {
    margin-left: -52px;
}

.Dash_back .nav-drop {
    margin-left: -43px;
    width: 180px;
}

.hotelier_drop {
    display: none;
    width: 200px;
    margin-left: 890px;
    position: absolute;
    margin-left: 925px;
    margin-top: -14px;
}

.drop_body p {
    text-align: left;
    /* font-weight: 500; */
    color: #808080;
}

.drop_body hr {
    margin-top: 4px;
}

.drop_body a {
    color: #000;
    border: 1px solid #eee;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.register_form {
    display: block;
    margin: 0 auto;
    width: 35%;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 5px 0 rgba(45,62,80,.12);
    border-radius: 4px;
    margin-bottom: 20px;
}

    .register_form h2 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }

    .register_form p {
        background: #0094ff;
        padding: 8px;
        color: #fff;
        text-align: center;
        font-size: 14px;
    }

.loginInside {
    width: 85%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

.form-control {
    padding: .5625rem .625rem;
    border-radius: .1875rem;
    border: 1px solid #cbd6e2;
    font-size: 16px;
    font-size: 1rem;
    transition: all .15s ease-out;
    color: #33475b;
    display: block;
    height: 2.5rem;
    line-height: 1.375rem;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

    .form-control:focus {
        border-color: rgba(0,208,228,.5);
        box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4;
        outline: 0;
    }

    .form-control::-webkit-input-placeholder {
        font-weight: 300;
        color: #7c98b6;
    }

.loginInside label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

.btn-primary {
    background-color: #ff7a59;
    border-color: #ff7a59;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    display: block !important;
    transition: all 0.4s ease-in-out;
}

.form-group p {
    background: none;
    color: #808080;
    text-align: left;
    font-size: 12px;
}

    .form-group p a {
        color: #0094ff;
    }

        .form-group p a:hover {
            text-decoration: underline !important;
        }

.btn-primary:hover {
    background-color: #e66e50;
    border-color: #e66e50;
    color: #fff;
}

.mandate {
    color: red;
}

.fb_btn {
    border: 1px solid #3b5998;
    color: #3b5998;
    font-size: 14px;
    background: none;
    min-height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: capitalize;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 8px;
}

    .fb_btn:hover {
        background: #3b5998;
        color: #ffffff;
        outline: none;
    }

.google_btn {
    border: 1px solid #D44132;
    color: #D44132;
    font-size: 14px;
    background: none;
    min-height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: capitalize;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
    padding: 8px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

    .google_btn:hover {
        background: #D44132;
        color: #ffffff;
        outline: none;
    }

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.loginForm {
    margin-top: 100px !important;
}

.passwordBase {
    display: none;
    margin-left: -822px;
}

.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 0;
    }
}

.register_form .fa-arrow-left {
    font-size: 20px;
    padding: 13px;
    margin-right: 0px;
    color: #808080;
    cursor: pointer;
}

.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.logingImg {
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border-radius: 60px;
    margin-bottom: 20px;
}

    .logingImg img {
        height: 100px;
        width: 100px;
    }

.quickLinks {
    margin-bottom: 10px;
}

    .quickLinks p {
        background: none;
        padding: 0px;
        margin-bottom: 5px;
    }

        .quickLinks p a {
            color: #3b5998;
            font-size: 12px;
            margin-bottom: 0px;
            margin-top: 0px;
            font-weight: 500;
        }

            .quickLinks p a:hover {
                text-decoration: underline !important;
            }

.top_nav img {
    height: 10px;
    width: 10px;
    margin-left: 5px;
}

.drop_body img {
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 60px;
    margin: 0 auto;
}

.supportDrop {
    width: 170px !important;
    margin-top: 4px;
    z-index: 9999999;
}

    .supportDrop .triangle-with-shadow:after {
        left: 100px !important;
    }

.myAcco {
    width: 170px !important;
    margin-left: 826px !important;
    margin-top: 4px !important;
    z-index: 9999999;
}

.drop_body li {
    display: block;
    width: 100%;
}

    .drop_body li a {
        border: none;
        text-align: left;
        font-size: 12px;
    }

.myAcco .triangle-with-shadow:after {
    left: 100px !important;
}

.drop_body li a:hover {
    color: #3b5998;
    text-decoration: underline !important;
}

.userDashboard {
    margin-top: 60px;
}

.userDashHeader h1 {
    font-size: 30px;
}

.userDashMenu {
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
}

    .userDashMenu h2 {
        background: #000;
        color: #fff;
        padding: 10px;
        font-size: 16px;
    }

.userDashBody {
    display: inline-flex;
    width: 100%;
    background: #fff;
}

.optionList {
    padding: 20px;
    text-align: center;
}

    .optionList i {
        font-size: 70px;
        color: #E12834;
        display: block;
        margin: 0 auto;
    }

    .optionList h3 {
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 500;
    }

    .optionList li {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

        .optionList li a {
            color: #808080;
            text-align: left;
            display: block;
        }

            .optionList li a i {
                font-size: 20px;
                color: #808080;
                display: -webkit-inline-box;
                margin: 0 auto;
                float: right;
            }

            .optionList li a:hover {
                color: #D44132;
            }

.calim_opt a {
    display: inline-flex;
    color: #808080;
}

    .calim_opt a i {
        font-size: 20px;
        color: #808080;
    }

.m-top-20 {
    margin-top: 20px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}

.m-right-20 {
    margin-right: 20px;
}

.dashPro {
    width: 100%;
    padding: 20px;
    text-align: center;
}

    .dashPro h3 {
        text-transform: uppercase;
        font-weight: 500;
    }

    .dashPro .logingImg {
        height: 50px;
        width: 50px;
    }

        .dashPro .logingImg img {
            height: 50px;
            width: 50px;
        }

    .dashPro li {
        margin-bottom: 5px;
        color: #808080;
    }

.w-800 {
    width: 800px;
}

.h-220 {
    height: 200px;
}

.notFound {
    padding: 10px;
    margin-top: 11%;
    width: 100%;
    height: 40px;
    display: inline-block;
    text-align: center;
}

    .notFound p {
        font-size: 18px;
        color: #808080;
    }

.modal-bg {
    position: fixed;
    z-index: 99999999999;
    background: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-inner {
    width: 50%;
    background: #262629;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}

.modal-hdr {
    padding: 10px;
    text-align: center;
}

    .modal-hdr h2 {
        color: #fff;
        display: block;
        width: 100%;
        font-size: 24px;
        margin-bottom: 4px;
    }

    .modal-hdr p {
        color: #eee;
        display: block;
        width: 100%;
    }

    .modal-hdr .fa-times-rectangle {
        color: #eee;
        font-size: 20px;
        cursor: pointer;
    }

.modal-bdy {
    padding: 10px;
    display: block;
    width: 70%;
    margin: 0 auto;
}

    .modal-bdy .btn-primary {
        display: block;
        width: auto;
        margin-top: 10px;
        margin: 15px auto;
        background: #ff7a59;
        /* box-shadow: none; */
        /* border-color: #eee; */
        /* border: none; */
        /* border-radius: 0px; */
        font-size: 14px;
    }

        .modal-bdy .btn-primary:focus {
            outline: none;
            box-shadow: none;
        }

.validation {
    border: 2px solid red;
}


.main-bdy {
    background: #f4f4f4 !important;
}

.common-header {
    background: #fff;
    height: 55px;
}

.common-nav {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 6px;
}

    .common-nav ul {
        margin-bottom: 0px !important;
    }

    .common-nav li {
        display: inline-block;
    }

        .common-nav li a {
            display: block;
            color: #000;
            padding: 10px;
        }

            .common-nav li a img {
                width: 10px;
            }

        .common-nav li:hover .nav-drop {
            max-height: 400px;
            transition: all 0.4s ease-in-out;
            overflow: visible;
        }

        .common-nav li:nth-child(2) .nav-drop {
            margin-left: -87px !important;
        }

        .common-nav li:nth-child(3) .nav-drop {
            margin-left: -240px !important;
        }

            .common-nav li:nth-child(3) .nav-drop .triangle-with-shadow {
                width: 400px;
            }

                .common-nav li:nth-child(3) .nav-drop .triangle-with-shadow:after {
                    left: 335px;
                }

.nav-drop p {
    margin: 0px !important;
}

.nav-drop {
    position: absolute;
    margin-left: -60px;
    margin-top: -14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    z-index: 9999;
}

    .nav-drop .triangle-with-shadow {
        height: 15px !important;
    }



.nav-list {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 4px;
    padding: 15px;
}

    .nav-list img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
        display: block;
        margin: 0 auto;
    }

    .nav-list li {
        display: block;
    }

        .nav-list li a {
            font-size: 14px;
            color: #808080 !important;
            text-align: left;
            transition: all 0.4s ease-in-out;
        }

            .nav-list li a:hover {
                color: #3b5998 !important;
                text-decoration: underline !important;
                margin-left: 10px;
            }

    .nav-list span {
        padding: 0px 0px;
        margin: 0px 10px;
    }

        .nav-list span:nth-child(3) a {
            background: #f3495a !important;
            color: #fff !important;
            border-radius: 3px !important;
            padding: 7px 15px !important;
            font-weight: 500 !important;
            box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
        }

        .nav-list span:nth-child(4) a {
            background: #f3495a !important;
            color: #fff !important;
            border-radius: 2px !important;
            padding: 7px 15px !important;
            font-weight: 500 !important;
            box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
        }



.btn-danger {
    color: #fff !important;
    background-color: #f3495a !important;
    border-color: #f3495a !important;
    border-radius: 2px !important;
    font-size: 12px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4) !important;
    font-weight: 500 !important;
    cursor: pointer !important;
}

.btn-success {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #5cb85c !important;
    border-radius: 2px !important;
    font-size: 12px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4) !important;
    font-weight: 500 !important;
    cursor: pointer !important;
}

.slider {
    /*background: linear-gradient(91deg, #f0772c, #f95776);*/
    background: url(images/sliderImage.jpg) no-repeat center;
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 300px rgba(0,0,0,0.9) inset;
}

.home-search {
    display: block;
    margin: 40px auto;
    width: 100%;
}

    .home-search h2 {
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin-bottom: 30px;
        text-shadow: 2px 0px 3px rgba(0,0,0,0.9);
    }

.form-control-placeholder {
    position: absolute;
    /* top: 0; */
    margin-top: -37px;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
    font-weight: 500;
    font-size: 14px;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    color: #124680;
    font-weight: 500;
}

.search-base {
    box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
    border-radius: 2px;
    overflow: hidden;
}

    .search-base span {
        color: #fff;
        padding: 13px 22px;
        border-radius: 2px 2px 0px 0px;
        font-weight: 500;
        display: block;
        background: rgba(0,0,0,0.6);
        text-align: center;
        font-size: 18px;
    }

    .search-base .form-control {
        border: none !important;
        box-shadow: none !important;
        padding: 5px 13px !important;
        width: 94% !important;
    }

        .search-base .form-control:focus {
            background: none;
        }

.icon {
    float: right;
    margin-top: 10px;
    font-size: 20px;
    color: #808080;
}

.form-fields {
    display: block;
    width: 100%;
    background: #fff;
}

    .form-fields .form-group {
        padding: 10px;
    }

        .form-fields .form-group:nth-child(1) {
            width: 400px;
            border-right: 1px solid #000;
        }

        .form-fields .form-group:nth-child(2) {
            width: 200px;
            border-right: 1px solid #000;
        }

            .form-fields .form-group:nth-child(2) .form-control {
                width: 85% !important;
            }

        .form-fields .form-group:nth-child(3) {
            width: 200px;
            border-right: 1px solid #000;
        }

            .form-fields .form-group:nth-child(3) .form-control {
                width: 85% !important;
            }

        .form-fields .form-group:nth-child(4) {
            width: 195px;
        }

            .form-fields .form-group:nth-child(4) .form-control {
                width: 92% !important;
            }

        .form-fields .form-group .img-icon {
            width: 10px;
        }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff !important;
    cursor: text !important;
    s;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: auto;
    padding: 35px;
    cursor: default;
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 12px;
    background: #141517;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #565656;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

    .ui-datepicker-prev span,
    .ui-datepicker-next span {
        display: block;
        width: 5px;
        height: 10px;
        text-indent: -9999px;
        background-image: url(../img/arrows.png);
    }

.ui-datepicker-prev span {
    background-position: 0px 0px;
}

.ui-datepicker-next span {
    background-position: -5px 0px;
}

.ui-datepicker-prev-hover span {
    background-position: 0px -10px;
}

.ui-datepicker-next-hover span {
    background-position: -5px -10px;
}

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: normal;
    color: #a8a8a8;
}

.ui-datepicker-calendar td {
    padding: 0 7px;
    text-align: center;
    line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;
    text-decoration: none;
    color: #a8a8a8;
    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
    color: #6a9113;
    border: 1px solid #6a9113;
}

.ui-datepicker-other-month .ui-state-default {
    color: #565656;
}

.daterangepicker {
    width: 500px !important;
}

.ranges {
    width: 96% !important;
    text-align: right !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 145px;
    height: 34px;
}

    .switch input {
        display: none;
    }

.slider-check {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 45px rgba(0,0,0,0.9) inset;
    background-color: #a5cd4e;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}

    .slider-check:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 65px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        z-index: 99999;
        border-radius: 2px;
    }

input:checked + .slider-check {
    background-color: rgba(18, 70, 128,0.8);
}

input:focus + .slider-check {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-check:before {
    -webkit-transform: translateX(72px);
    -ms-transform: translateX(72px);
    transform: translateX(72px);
}

/* Rounded sliders */
.slider-check.round {
    border-radius: 34px;
}

    .slider-check.round:before {
        border-radius: 50%;
    }

.search-change {
    display: inline-block;
}

.optName {
    position: absolute;
    margin-top: -37px;
}

    .optName span {
        /* float: left; */
        margin-top: 5px;
        color: #fff;
        font-size: 16px;
        margin-right: 10px;
    }

        .optName span:nth-child(1) {
            margin-left: 5px;
        }

        .optName span:nth-child(2) {
            margin-left: 20px;
        }

.holidayBase {
    display: none;
    margin-top: -112px;
}

    .holidayBase .form-fields .form-group {
        width: 300px !important;
        border-right: 1px solid #000 !important;
    }

        .holidayBase .form-fields .form-group:nth-child(3) {
            border-right: none !important;
            width: 400px !important;
        }

        .holidayBase .form-fields .form-group:last-child {
            width: 125px !important;
            text-align: right;
        }

    .holidayBase .form-control {
        width: 91% !important;
    }

.dashboard-header {
    padding: 15px !important;
}

.form-fields .form-group:last-child {
    padding: 0px;
}

.searchBtn {
    padding: 11px !important;
    /* display: block; */
    width: 125px;
    margin-top: -3px;
    font-size: 18px !important;
}

.center {
    width: 150px;
    margin: 40px auto;
}

.roomDetails {
    max-height: 800px !important;
    width: 270px !important;
    margin-left: 0px !important;
    right: 310px !important;
    margin-top: -11px !important;
    overflow: visible !important;
    display: none;
}

.rooMHover:hover .roomDetails {
    display: block;
}

.roomDetails .triangle-with-shadow {
    margin-left: 70px !important;
}

.roomDetails .nav-list {
    padding: 0px !important;
}

.room_base {
    height: auto;
    max-height: 350px;
    overflow: auto;
    overflow-x: hidden;
}

.roomDetails .room_list {
    padding: 5px 10px;
}

.room_list h5 {
    font-size: 16px !important;
    font-weight: 600 !important;
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 4px !important;
}

.room_list h6 {
    font-size: 14px !important;
    margin-bottom: 3px !important;
    font-weight: 500;
}

.room_list p:nth-child(1) {
    font-size: 12px !important;
    color: #808080 !important;
}

.input-group {
    width: 112px;
    margin-top: 10px;
    margin-left: 10px;
}

.adult_age {
    display: inline-block !important;
}

.input-group-btn {
    margin: 0px !important;
}

.input-group .form-control {
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
    height: 34px !important;
    width: 45px !important;
    text-align: center !important;
    margin-left: 0px !important;
}

.input-group .btn-default {
    padding: 6px 1px !important;
}

.ButtonGroup {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-top: 19px;
}

    .ButtonGroup .btn {
        box-shadow: none !important;
        border-radius: 0px !important;
        margin-top: 0px;
    }

.search_box {
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    margin-left: -10px;
    width: 26.1%;
    margin-top: 10px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
    height: auto;
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
    display: none;
    transition: all 0.4s ease-in-out;
}

    .search_box::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: #eee; /* or add it to the track */
    }
/* Add a thumb */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.search_box ul {
    margin: 0px;
}

.search_header {
    padding: 8px;
    text-align: right;
    /*border-bottom: 1px solid #ccc;*/
    color: #ccc;
    font-weight: 500;
}

.search_box li a {
    padding: 7px;
    display: block;
    color: #808080;
    font-size: 12px;
    font-weight: 500;
}

.search-base li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.search_box li a:hover {
    background: #f4f4f4;
}

.calendar {
    left: 39%;
    position: relative;
    left: 0;
    top: 6px;
    z-index: 9999999;
    transition: all 0.4s ease-in-out;
    display: none;
}

.pignose-calendar-top {
    padding: 7px !important;
    margin: -1px !important;
}

.pignose-calendar {
    margin: 0px !important;
    width: 130% !important;
}

.pignose-calendar-top-date {
    padding: 0px;
    margin-top: -9px;
    text-transform: capitalize;
    display: inline-flex;
    width: auto;
    font-size: 10px;
}

.pignose-calendar-top-month {
    margin: -14px;
}

.pignose-calendar-top-year {
    margin: -14px;
}

.pignose-calendar-top-prev {
    margin-left: 300px !important;
}

.pignose-calendar-top-next {
    margin-right: 0px !important;
}

.pignose-calendar-top-date span {
    background: none;
}

.pignose-calendar .pignose-calendar-header {
    margin-top: 0px !important;
    padding: 0px !important;
}

.pignose-calendar .pignose-calendar-body {
    padding: 0px !important;
}

.pignose-calendar-top a span {
    background: none;
    padding: 0px;
}

.pignose-calendar-unit {
    height: 43px !important;
    line-height: 41px !important;
    border: 1px solid #eee !important;
    padding: 0px !important;
}

    .pignose-calendar-unit a {
        border-radius: 0px !important;
        margin: -1px !important;
        width: 49px !important;
        height: 43px !important;
        line-height: 41px !important;
    }

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-range a {
    background-color: rgba(243, 73, 90,0.1) !important;
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #F3495A !important;
    box-shadow: none !important;
}

.input-calendar {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    height: 3.2em;
    line-height: 3.2em;
    font: inherit;
    padding: 0 1.2em;
    border: 1px solid #d8d8d8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    -o-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
}

.btn-calendar {
    display: block;
    width: 100%;
    max-width: 360px;
    height: 3.2em;
    line-height: 3.2em;
    background-color: #52555a;
    margin: 0 auto;
    font-weight: 600;
    color: #ffffff !important;
    text-decoration: none !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    -o-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
}

    .btn-calendar:hover {
        background-color: #5a6268;
    }

@media (min-width: 1200px) {
    /*.search_box
            {
               width: 31.6%;
            }*/
    /*.calendar
            {
                    top: 50%;
                    left:37%!important;
            }*/
}

.loading-bar {
    /* margin-top: -18px; */
    padding: 12px;
    display: block;
    /* background: red; */
    box-shadow: 0px 0px 26px rgba(0,0,0,0.2) inset;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
}

    .loading-bar h4 {
        font-size: 14px;
        font-weight: 600;
        color: #5ca05d;
    }

.content {
    z-index: 9;
    font-weight: 600;
    color: #378e4b;
    text-shadow: 0px 0px 16px rgba(0,0,0,0.2);
    position: relative;
}

.progress {
    z-index: 1;
    width: 0px;
    height: 100% !important;
    position: absolute;
    background: #a5cd4e !important;
    left: 0px;
    top: 0px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2) inset !important;
}

.search-modification {
    width: 100%;
}

    .search-modification .triangle-with-shadow {
        left: 35%;
    }

    .search-modification .search-area {
        padding: 10px;
        background: #124680;
        width: 100%;
        display: inline-block;
        box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
        border-radius: 4px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .search-modification .triangle-with-shadow:after {
        background: #124680;
    }

.search-area .search-base {
    box-shadow: none;
}

.search-area .form-fields {
    background: none;
}

    .search-area .form-fields .form-group {
        padding: 5px;
        border-right: 0px;
    }

        .search-area .form-fields .form-group:nth-child(1) {
            width: 375px;
            border-right: 0px;
        }

        .search-area .form-fields .form-group .form-control {
            background-color: transparent !important;
            border-bottom: 1px solid #87a1bf !important;
            /* background: 0 0; */
            color: #fff !important;
        }

        .search-area .form-fields .form-group .form-control-placeholder {
            color: #87a1bf;
        }

        .search-area .form-fields .form-group .form-control:focus + .form-control-placeholder, .form-control:valid + .form-control-placeholder {
            color: #87a1bf;
        }

        .search-area .form-fields .form-group .icon {
            color: #f5f5f5;
            margin-top: 20px;
            font-size: 14px;
        }

.search_field {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 999999;
}

    .search_field .triangle-with-shadow {
        left: 0;
        z-index: 99999;
    }

        .search_field .triangle-with-shadow:after {
            background: #fff;
        }

    .search_field .search_box {
        margin-top: 0px;
        border: none;
        width: 22%;
        margin-left: 0px;
        max-height: 300px;
        box-shadow: 0px 0px 19px rgba(0,0,0,0.4);
    }

.cal_base {
    position: absolute;
    margin-left: -14px;
    margin-top: 6px;
    transition: all 0.4s ease-in-out;
}

.search-modification .cal_base {
    margin-left: 0px;
}

.search-modification .roomDetails .triangle-with-shadow {
    left: -10px;
}

    .search-modification .roomDetails .triangle-with-shadow:after {
        background-color: #fff;
    }

.listing-filter {
    background: #fff;
    height: 100%;
    display: block;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
/*** custom checkboxes ***/

input[type=checkbox] {
    display: none;
}
    /* to hide the checkbox itself */
    input[type=checkbox] + label:before {
        font-family: FontAwesome;
        display: inline-block;
    }

    input[type=checkbox] + label:before {
        content: "\f096";
    }
    /* unchecked icon */
    input[type=checkbox] + label:before {
        letter-spacing: 10px;
    }
    /* space between checkbox and label */

    input[type=checkbox]:checked + label:before {
        content: "\f046";
    }
    /* checked icon */
    input[type=checkbox]:checked + label:before {
        letter-spacing: 5px;
    }
/* allow space for check mark */
.filter-style label {
    font-weight: normal;
    display: block;
}

.reset-filter {
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline !important;
}

.hotel_list {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

    .hotel_list li {
        display: inline-block;
        border-radius: 4px 4px 0px 0px;
        overflow: hidden;
    }

        .hotel_list li .thumg-img {
            width: 400px;
            overflow: hidden;
        }

            .hotel_list li .thumg-img img {
                width: 100%;
                height: 100%;
            }
