html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

.visi {
    overflow: visible !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    color: #16120f;
    font-size: 13px;
    line-height: normal;
    overflow: auto;
    overflow-x: hidden;
    background: #F0F3F4;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
    cursor: pointer;
}

    a:focus {
        color: none !important;
        box-shadow: none !important;
    }

button {
    cursor: pointer;
}

.clear {
    clear: both;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif !important;
    color: #131211;
}


h1, h2, h3, h4, h5, h6, strong {
    margin: 0;
}

i, em {
    font-style: italic;
}

ul li {
    list-style-type: none;
}

a:hover {
    text-decoration: none !important;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a {
    color: #ffffff;
}
    /* unvisited link */
    a:visited {
        color: #ffffff;
    }
    /* visited link */
    a:hover {
        color: #ffffff;
    }
    /* mouse over link */
    a:active {
        color: #ffffff;
    }

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff; /* or add it to the track */
}
/* Add a thumb */
::-webkit-scrollbar-thumb {
    background: #3b5998;
}

.login_body {
    background-repeat: repeat-x;
    background-size: 75%;
    background-position: top;
    background-image: url(/Content/images/bridge.png);
    background-color: #f4f6f8;
}

.login_header {
    display: block;
    background: #fff;
    height: 50px;
    box-shadow: 0px -1px 14px rgba(0,0,0,0.1);
}

.top_nav span {
    padding: 16px;
    font-size: 14px;
    color: #808080;
    cursor: pointer;
}

.top_nav {
    padding: 15px;
    text-align: right;
}

    .top_nav span i {
        height: 20px;
        width: 20px;
        text-align: center;
        border: 1px solid #eee;
        color: #808080;
        border-radius: 28px;
        padding: 2px;
        box-shadow: 0px -2px 10px rgba(0,0,0,0.1);
        font-weight: 600;
        margin-left: 5px;
        transition: all 0.4s ease-in-out;
    }


    .top_nav span:hover {
        color: #ec6028;
    }

        .top_nav span:hover i {
            color: #fff;
            background: #ec6028;
            border: 1px solid #ec6028;
        }

.top_active {
    color: #ec6028 !important;
}

    .top_active i {
        color: #fff !important;
        background: #ec6028 !important;
        border: 1px solid #ec6028 !important;
    }

.triangle-with-shadow {
    width: 190px;
    height: 20px;
    position: relative;
    overflow: hidden;
    /* box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5); */
}

    .triangle-with-shadow:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;
        transform: rotate(45deg);
        top: 18px;
        left: 139px;
        box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
    }

.drop_body {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 10px;
}

.btn_active {
    background: #ff7a59;
    /* float: left; */
    display: block;
    padding: 10px;
    /* display: inline-block; */
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
    color: #fff !important;
}

    .btn_active:hover {
        background: #f37758;
    }

.hotelier_drop {
    display: none;
    width: 200px;
    margin-left: 890px;
    position: absolute;
}

.drop_body p {
    text-align: left;
    /* font-weight: 500; */
    color: #808080;
}

.drop_body hr {
    margin-top: 4px;
}

.drop_body a {
    color: #000;
    border: 1px solid #eee;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.register_form {
    display: block;
    margin: 0 auto;
    width: 35%;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 5px 0 rgba(45,62,80,.12);
    border-radius: 4px;
    margin-bottom: 20px;
}

    .register_form h2 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }

    .register_form p {
        background: #0094ff;
        padding: 8px;
        color: #fff;
        text-align: center;
        font-size: 14px;
    }

.loginInside {
    width: 85%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

.form-control {
    padding: .5625rem .625rem;
    border-radius: .1875rem;
    border: 1px solid #cbd6e2;
    font-size: 16px;
    font-size: 1rem;
    transition: all .15s ease-out;
    background-color: #f5f8fa;
    color: #33475b;
    display: block;
    height: 2.5rem;
    line-height: 1.375rem;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

    .form-control:focus {
        border-color: rgba(0,208,228,.5);
        box-shadow: 0 0 4px 1px rgba(0,208,228,.3), 0 0 0 1px #00d0e4;
        outline: 0;
        background-color: #f5f8fa;
    }

    .form-control::-webkit-input-placeholder {
        font-weight: 300;
        color: #7c98b6;
    }

.loginInside label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

.btn-primary {
    background-color: #ff7a59;
    border-color: #ff7a59;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    display: block;
    transition: all 0.4s ease-in-out;
}

.form-group p {
    background: none;
    color: #808080;
    text-align: left;
    font-size: 12px;
}

    .form-group p a {
        color: #0094ff;
    }

        .form-group p a:hover {
            text-decoration: underline !important;
        }

.btn-primary:hover {
    background-color: #e66e50;
    border-color: #e66e50;
    color: #fff;
}

.mandate {
    color: red;
}

.fb_btn {
    border: 1px solid #3b5998;
    color: #3b5998;
    font-size: 14px;
    background: none;
    min-height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: capitalize;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 8px;
}

    .fb_btn:hover {
        background: #3b5998;
        color: #ffffff;
        outline: none;
    }

.google_btn {
    border: 1px solid #D44132;
    color: #D44132;
    font-size: 14px;
    background: none;
    min-height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-transform: capitalize;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
    padding: 8px;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

    .google_btn:hover {
        background: #D44132;
        color: #ffffff;
        outline: none;
    }

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.loginForm {
    margin-top: 100px !important;
}

.passwordBase {
    display: none;
    margin-left: -822px;
}

.bounceOutLeft {
    -webkit-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 0;
    }
}

@keyframes zoomOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 0;
    }
}

.register_form .fa-arrow-left {
    font-size: 20px;
    padding: 13px;
    margin-right: 0px;
    color: #808080;
    cursor: pointer;
}

.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.logingImg {
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border-radius: 60px;
    margin-bottom: 20px;
}

    .logingImg img {
        height: 100px;
        width: 100px;
    }

.quickLinks {
    margin-bottom: 10px;
}

    .quickLinks p {
        background: none;
        padding: 0px;
        margin-bottom: 5px;
    }

        .quickLinks p a {
            color: #3b5998;
            font-size: 12px;
            margin-bottom: 0px;
            margin-top: 0px;
            font-weight: 500;
        }

            .quickLinks p a:hover {
                text-decoration: underline !important;
            }

.top_nav img {
    height: 10px;
    width: 10px;
    margin-left: 5px;
}

.drop_body img {
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 60px;
    margin: 0 auto;
}

.supportDrop {
    width: 170px !important;
}

    .supportDrop .triangle-with-shadow:after {
        left: 100px !important;
    }

.myAcco {
    width: 170px !important;
    margin-left: 800px !important;
}

.drop_body li {
    display: block;
    width: 100%;
}

    .drop_body li a {
        border: none;
        text-align: left;
        font-size: 12px;
    }

.myAcco .triangle-with-shadow:after {
    left: 100px !important;
}

.drop_body li a:hover {
    color: #3b5998;
    text-decoration: underline !important;
}

.userDashboard {
    margin-top: 60px;
}

.userDashHeader h1 {
    font-size: 30px;
}

.userDashMenu {
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
}

    .userDashMenu h2 {
        background: #000;
        color: #fff;
        padding: 10px;
        font-size: 16px;
    }

.userDashBody {
    display: inline-flex;
    width: 100%;
    background: #fff;
}

.optionList {
    padding: 20px;
    text-align: center;
}

    .optionList i {
        font-size: 70px;
        color: #E12834;
        display: block;
        margin: 0 auto;
    }

    .optionList h3 {
        text-transform: uppercase;
        margin-top: 20px;
        font-weight: 500;
    }

    .optionList li {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

        .optionList li a {
            color: #808080;
            text-align: left;
            display: block;
        }

            .optionList li a i {
                font-size: 20px;
                color: #808080;
                display: -webkit-inline-box;
                margin: 0 auto;
                float: right;
            }

            .optionList li a:hover {
                color: #D44132;
            }

.calim_opt a {
    display: inline-flex;
    color: #808080;
}

    .calim_opt a i {
        font-size: 20px;
        color: #808080;
    }

.m-top-20 {
    margin-top: 20px;
}

.m-bottom-20 {
    margin-bottom: 20px;
}

.m-right-20 {
    margin-right: 20px;
}

.dashPro {
    width: 100%;
    padding: 20px;
    text-align: center;
}

    .dashPro h3 {
        text-transform: uppercase;
        font-weight: 500;
    }

    .dashPro .logingImg {
        height: 50px;
        width: 50px;
    }

        .dashPro .logingImg img {
            height: 50px;
            width: 50px;
        }

    .dashPro li {
        margin-bottom: 5px;
        color: #808080;
    }

.w-800 {
    width: 800px;
}

.h-220 {
    height: 200px;
}

.notFound {
    padding: 10px;
    margin-top: 11%;
    width: 100%;
    height: 40px;
    display: inline-block;
    text-align: center;
}

    .notFound p {
        font-size: 18px;
        color: #808080;
    }

.modal-bg {
    position: fixed;
    z-index: 99999999999;
    background: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-inner {
    width: 50%;
    background: #262629;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}

.modal-hdr {
    padding: 10px;
    text-align: center;
}

    .modal-hdr h2 {
        color: #fff;
        display: block;
        width: 100%;
        font-size: 24px;
        margin-bottom: 4px;
    }

    .modal-hdr p {
        color: #eee;
        display: block;
        width: 100%;
    }

    .modal-hdr .fa-times-rectangle {
        color: #eee;
        font-size: 20px;
        cursor: pointer;
    }

.modal-bdy {
    padding: 10px;
    display: block;
    width: 70%;
    margin: 0 auto;
}

    .modal-bdy .btn-primary {
        display: block;
        width: auto;
        margin-top: 10px;
        margin: 15px auto;
        background: #ff7a59;
        /* box-shadow: none; */
        /* border-color: #eee; */
        /* border: none; */
        /* border-radius: 0px; */
        font-size: 14px;
    }

        .modal-bdy .btn-primary:focus {
            outline: none;
            box-shadow: none;
        }

.validation {
    border: 2px solid red;
}


.main-bdy {
    background: #f4f4f4;
}

.common-header {
    background: #fff;
}

.common-nav {
    display: inline-block;
    width: 100%;
    text-align: right;
}

    .common-nav li {
        display: inline-block;
    }

        .common-nav li a {
            display: block;
            color: #000;
            padding: 10px;
        }

            .common-nav li a img {
                width: 10px;
            }

        .common-nav li:hover .nav-drop {
            max-height: 200px;
        }

.nav-drop {
    position: absolute;
    margin-left: -60px;
    margin-top: -14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

    .nav-drop .triangle-with-shadow {
        height: 15px !important;
    }



.nav-list {
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    border-radius: 4px;
}

    .nav-list li {
        display: block;
    }

        .nav-list li a {
            color: #000 !important;
            text-align: left;
            font-size: 12px;
        }

.btn-danger {
    color: #fff!important;
    background-color: #f3495a !important;
    border-color: #f3495a !important;
    border-radius: 2px !important;
    font-size: 12px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4) !important;
    font-weight: 500 !important;
    cursor: pointer !important;
}
.btn-success
{
    color: #fff!important;
    background-color: #5cb85c !important;
    border-color: #5cb85c!important;
    border-radius: 2px !important;
    font-size: 12px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4) !important;
    font-weight: 500 !important;
    cursor: pointer !important;
}