
@{
    ViewBag.Title = "HotelDescription";
    Layout = "~/Views/_CommonLayout.cshtml";
}

<h2>HotelDescription</h2>

<input type="button"  value="PayNow" onclick="location.href='@Url.Action("getbookingPage","Home")'" />

