
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_CommonLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/DateRangerPicker/css/pignose.calendar.css" />

<div class="slider">
    <div class="container">
        <div class="row">
            <div class="home-search">

                <h2>Book on India's Largest Hotel Booking Platform</h2>
                <div class="search-change">
                    <label class="switch">
                        <input type="checkbox" class="switchType" checked>
                        <span class="slider-check"></span>
                    </label>
                    <div class="optName">
                        <span>Hotel</span>
                        <span>Holiday</span>
                    </div>
                </div>
                <div class="search-base hotelBase">
                    <span>HOTEL</span>
                    <form class="form-inline" id="homeForm" action="@Url.Action("Listing","Home")" method="get">
                        <div class="form-fields">
                            <div class="form-group">
                                <input type="text" id="seachBox" autocomplete="off" name="Keyword" class="searchBox form-control" required>
                                <label class="form-control-placeholder" for="seachBox">Select City, Location or Hotel</label>
                                <i class="fa fa-map-marker icon mapIcon"></i>
                                <div class="search_box" id="search_box">
                                    <ul></ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin" name="CheckIn" class="checkinDate datePicker form-control" required>
                                <label class="form-control-placeholder" for="checkin">Check-in</label>
                                <i class="fa fa-calendar icon"></i>
                                <div class="cal_base">
                                    <div class="calendar">

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" id="checkout" name="CheckOut" value="" class="checkoutDate datePicker form-control" required>
                                <label class="form-control-placeholder" for="checkout">Check-out</label>
                                <i class="fa fa-calendar icon"></i>

                            </div>
                            <div class="form-group rooMHover">
                                <input type="text" id="room" readonly class="form-control room_val" name="Person" value="2 Pepole 1 Room" required>
                                <label class="form-control-placeholder" for="room"></label>
                                <img src="~/Content/images/sort-down.svg" class="img-icon" />

                            </div>
                            <div class="form-group">
                                <input type="submit" class="searchBtn btn btn-danger" value="Search" />
                                @*@Html.ActionLink("Search", "Search", "Home", new { @class = "searchBtn btn btn-danger" });*@
                                @*<a href="javascript:void(0)" onclick="SearchHotels();" class="searchBtn btn btn-danger">Search</a>*@
                            </div>
                        </div>

                    </form>


                </div>
                <div class="nav-drop roomDetails">
                    <div class="triangle-with-shadow">
                    </div>
                    <div class="nav-list">
                        <div class="room_base"></div>
                        <div class="ButtonGroup">
                            <a href="javascript:void(0)" onclick="addRoom(1);" class="pull-left btn btn-light">Add Room</a>
                            <a href="javascript:void(0)" class="pull-right btn btn-danger saveRoom">Done</a>
                        </div>
                    </div>
                </div>
                <div class="search-base holidayBase">
                    <span>HOLIDAY</span>
                    <form class="form-inline" action="/action.php">
                        <div class="form-fields">
                            <div class="form-group">
                                <input type="text" id="from" class="form-control" required>
                                <label class="form-control-placeholder" for="from">From</label>
                                <i class="fa fa-map-marker icon mapIcon"></i>
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin" name="to" class="form-control" required>
                                <label class="form-control-placeholder" for="to">To</label>
                                <i class="fa fa-map-marker icon mapIcon"></i>
                            </div>
                            <div class="form-group">
                                <input type="text" id="month" name="month" readonly class="form-control" required>
                                <label class="form-control-placeholder" for="month">Month of Travle (Any)</label>
                                <img src="~/Content/images/sort-down.svg" class="img-icon" />
                            </div>
                            <div class="form-group">
                                <a href="javascript:void(0)" onclick="SearchHotels();" class="searchBtn btn btn-danger">Search</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


