
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_CommonLayout.cshtml";
}
<div class="slider">
    <div class="container">
        <div class="row">
            <div class="home-search">
                <div class="logo">

                </div>
                <h2>Book on India's Largest Hotel Network</h2>
                <div class="place-search">
                    <div class="form-group">
                        <input type="text" id="name" autocomplete="off" class="form-control" required>
                        <label class="form-control-placeholder" for="name">Seach City, Locatlity or Hotel Name ( Wordlwide)</label>
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
                <div class="date-place">
                    <input type="text" id="name" autocomplete="off" class="form-control" required>
                    <label class="form-control-placeholder" for="name">Check-in</label>
                </div>
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>


