
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_CommonLayout.cshtml";
}
<div class="slider">
    <div class="container">
        <dic class="row">
            <div class="home-search">
               
            </div>
        </dic>
    </div>
</div>


