<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/Content/bootstrap-3.2.0.min.css" rel="stylesheet">
</head>

<body class="main-bdy">
    <div class="common-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logoBase">
                        <a href="/Home/Index/">
                            <img src="~/Content/images/logo.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dtlBody">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xs-12 col-sm-4">
                    <div class="dtlBody-left">
                        <h1>Continue as Guest</h1>
                        <div class="guestLoginArea">
                            <div class="col-lg-8 col-xs-12 ">

                            </div>
                            <div class="col-lg-4 col-xs-12">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundle/jquery")
</body>
</html>
