<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/Content/bootstrap-3.2.0.min.css" rel="stylesheet">


</head>
<body class="main-bdy">
    <div class="common-header">
        <div class="container">
            <div class="row">
                <div class="common-nav">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                My Account <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>
                                <div class="nav-list">
                                    <img src="~/Content/images/user.png" />
                                    <ul>
                                        <li><a href="javascript:void(0)">My Booking</a></li>
                                        <li><a href="javascript:void(0)">My Whitelist</a></li>
                                    </ul>
                                    <span class="pull-left"><a href="/User/Login">Login</a></span>
                                    <span class="pull-right"><a href="/User/Register">SignUp</a></span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Support <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>
                                <div class="nav-list">
                                    <ul>
                                        <li><a href="javascript:void(0)">Contact Us</a></li>
                                        <li><a href="javascript:void(0)">Complete Booking</a></li>
                                        <li><a href="javascript:void(0)">Make a Payment</a></li>
                                        <li><a href="javascript:void(0)">Hotel Cancellation Charges</a></li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Recent Search <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>

                                <div class="nav-list">
                                    <p>Things you viewed while searching are saved here.</p>
                                    @*<ul>
                                            <li><a href="javascript:void(0)">Contact Us</a></li>
                                            <li><a href="javascript:void(0)">Complete Booking</a></li>
                                            <li><a href="javascript:void(0)">Make a Payment</a></li>
                                            <li><a href="javascript:void(0)">Hotel Cancellation Charges</a></li>
                                        </ul>*@

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundle/jquery")

    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
    <script type="text/javascript" src="~/scripts/daterangerpicker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datePicker').daterangepicker();
            $('.datePicker').keydown(function () {
                return false;
            });
            $('.searchBox').keyup(function () {
                if ($(this).val().length > 0 && $(this).val().length >= 3) {
                    $('.mapIcon').removeClass('fa-map-marker');
                    $('.mapIcon').addClass('fa-circle-o-notch fa-spin');

                }
                else {
                    $('.mapIcon').addClass('fa-map-marker');
                    $('.mapIcon').removeClass('fa-circle-o-notch fa-spin');
                }
            });
            $('.searchBox').focusout(function () {
                $('.mapIcon').addClass('fa-map-marker');
                $('.mapIcon').removeClass('fa-circle-o-notch fa-spin');
            });
            $('.switchType').change(function () {
                if ($(this).is(":checked")) {

                    $('.hotelBase').removeClass('bounceOutLeft');
                    $('.hotelBase').addClass('bounceInRight');
                    $('.holidayBase').addClass('bounceOutLeft');
                    $('.holidayBase').removeClass('bounceInRight');
                }
                else {
                    $('.hotelBase').removeClass('bounceInRight');
                    $('.hotelBase').addClass('bounceOutLeft');
                    $('.holidayBase').removeClass('bounceOutLeft');
                    $('.holidayBase').addClass('bounceInRight');
                    $('.holidayBase').css('display', 'block');
                }

            });



        });
    </script>

</body>
</html>
