<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/Content/bootstrap-3.2.0.min.css" rel="stylesheet">

    <link href="~/Content/jquery.auto-complete.css" rel="stylesheet" />
</head>
<body class="main-bdy">
    <div class="common-header">
        <div class="container">
            <div class="row">
                <div class="common-nav">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                My Account <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>
                                <div class="nav-list">
                                    <img src="~/Content/images/user.png" />
                                    <ul>
                                        <li><a href="javascript:void(0)">My Booking</a></li>
                                        <li><a href="javascript:void(0)">My Whitelist</a></li>
                                    </ul>
                                    <span class="pull-left"><a href="/User/Login">Login</a></span>
                                    <span class="pull-right"><a href="/User/Register">SignUp</a></span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Support <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>
                                <div class="nav-list">
                                    <ul>
                                        <li><a href="javascript:void(0)">Contact Us</a></li>
                                        <li><a href="javascript:void(0)">Complete Booking</a></li>
                                        <li><a href="javascript:void(0)">Make a Payment</a></li>
                                        <li><a href="javascript:void(0)">Hotel Cancellation Charges</a></li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Recent Search <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>

                                <div class="nav-list">
                                    <p>Things you viewed while searching are saved here.</p>
                                    @*<ul>
                                            <li><a href="javascript:void(0)">Contact Us</a></li>
                                            <li><a href="javascript:void(0)">Complete Booking</a></li>
                                            <li><a href="javascript:void(0)">Make a Payment</a></li>
                                            <li><a href="javascript:void(0)">Hotel Cancellation Charges</a></li>
                                        </ul>*@

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundle/jquery")

    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
    <script type="text/javascript" src="~/scripts/daterangerpicker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css" />
    <script src="~/scripts/jquery.auto-complete.js"></script>
    <script type="text/javascript">
        var divId = 1;
        var children = 2;
        var html = '';
        $(document).ready(function () {

            $('.rooMHover').click(function () {
                $('.roomDetails').toggle();
            });
            $('.datePicker').daterangepicker();
            $('.datePicker').keydown(function () {
                return false;
            });
            $('.searchBox').keyup(function () {
                if ($(this).val().length > 0 && $(this).val().length >= 3) {
                    $('.mapIcon').removeClass('fa-map-marker');
                    $('.mapIcon').addClass('fa-circle-o-notch fa-spin');

                }
                else {
                    $('.mapIcon').addClass('fa-map-marker');
                    $('.mapIcon').removeClass('fa-circle-o-notch fa-spin');
                }
            });
            $('.searchBox').focusout(function () {
                $('.mapIcon').addClass('fa-map-marker');
                $('.mapIcon').removeClass('fa-circle-o-notch fa-spin');
            });
            $('.switchType').change(function () {
                if ($(this).is(":checked")) {

                    $('.hotelBase').removeClass('bounceOutLeft');
                    $('.hotelBase').addClass('bounceInRight');
                    $('.holidayBase').addClass('bounceOutLeft');
                    $('.holidayBase').removeClass('bounceInRight');
                }
                else {
                    $('.hotelBase').removeClass('bounceInRight');
                    $('.hotelBase').addClass('bounceOutLeft');
                    $('.holidayBase').removeClass('bounceOutLeft');
                    $('.holidayBase').addClass('bounceInRight');
                    $('.holidayBase').css('display', 'block');
                }

            });

            $(function () {
                $('.hotelSearch').autoComplete({
                    minChars: 1,
                    source: function (term, suggest) {
                        term = term.toLowerCase();
                        var choices = ['ActionScript', 'AppleScript', 'Asp', 'Assembly', 'BASIC', 'Batch', 'C', 'C++', 'CSS', 'Clojure', 'COBOL', 'ColdFusion', 'Erlang', 'Fortran', 'Groovy', 'Haskell', 'HTML', 'Java', 'JavaScript', 'Lisp', 'Perl', 'PHP', 'PowerShell', 'Python', 'Ruby', 'Scala', 'Scheme', 'SQL', 'TeX', 'XML'];
                        var suggestions = [];
                        for (i = 0; i < choices.length; i++)
                            if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                        suggest(suggestions);
                    }
                });

            });


            $('.btn-adult').click(function (e) {
                e.preventDefault();

                fieldName = $(this).attr('data-field');
                type = $(this).attr('data-type');
                var input = $("input[name='" + fieldName + "']");
                var currentVal = parseInt(input.val());
                if (!isNaN(currentVal)) {
                    if (type == 'minus') {

                        if (currentVal > input.attr('min')) {
                            input.val(currentVal - 1).change();
                        }
                        if (parseInt(input.val()) == input.attr('min')) {
                            $(this).attr('disabled', true);
                        }

                    } else if (type == 'plus') {

                        if (currentVal < input.attr('max')) {
                            input.val(currentVal + 1).change();
                        }
                        if (parseInt(input.val()) == input.attr('max')) {
                            $(this).attr('disabled', true);
                        }

                    }
                } else {
                    input.val(0);
                }
            });
            $('.input-adult').focusin(function () {
                $(this).data('oldValue', $(this).val());
            });
            $('.input-adult').change(function () {

                minValue = parseInt($(this).attr('min'));
                maxValue = parseInt($(this).attr('max'));
                valueCurrent = parseInt($(this).val());

                name = $(this).attr('name');
                if (valueCurrent >= minValue) {
                    $(".btn-adult[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
                } else {
                    alert('Sorry, the minimum value was reached');
                    $(this).val($(this).data('oldValue'));
                }
                if (valueCurrent <= maxValue) {
                    $(".btn-adult[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
                } else {
                    alert('Sorry, the maximum value was reached');
                    $(this).val($(this).data('oldValue'));
                }


            });


            $('.btn-children').click(function (e) {
                e.preventDefault();

                fieldName = $(this).attr('data-field');
                type = $(this).attr('data-type');
                var input = $("input[name='" + fieldName + "']");
                var currentVal = parseInt(input.val());
                if (!isNaN(currentVal)) {
                    if (type == 'minus') {

                        if (currentVal > input.attr('min')) {
                            input.val(currentVal - 1).change();
                        }
                        if (parseInt(input.val()) == input.attr('min')) {
                            $(this).attr('disabled', true);
                        }

                    } else if (type == 'plus') {

                        if (currentVal < input.attr('max')) {
                            input.val(currentVal + 1).change();
                        }
                        if (parseInt(input.val()) == input.attr('max')) {
                            $(this).attr('disabled', true);
                        }

                    }
                } else {
                    input.val(0);
                }
            });
            $('.input-children').focusin(function () {
                $(this).data('oldValue', $(this).val());
            });
            $('.input-children').change(function () {

                minValue = parseInt($(this).attr('min'));
                maxValue = parseInt($(this).attr('max'));
                valueCurrent = parseInt($(this).val());

                name = $(this).attr('name');
                if (valueCurrent >= minValue) {
                    $(".btn-children[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
                } else {
                    alert('Sorry, the minimum value was reached');
                    $(this).val($(this).data('oldValue'));
                }
                if (valueCurrent <= maxValue) {
                    $(".btn-children[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
                } else {
                    alert('Sorry, the maximum value was reached');
                    $(this).val($(this).data('oldValue'));
                }


            });
        });

        

        function addRoom() {

            if (divId >= 1) {
                divId = divId + 1;
                children = children + 1;
            }

            html += '<div class="room_list" id=' + divId + '><h5>Room ' + divId + ':</h5><div class="adult_age"><div class="col-md-6"><div class="row"><h6>Adults</h6>',
            html += '<p>Above 12 years</p></div></div><div class="col-md-6"><div class="row"><div class="input-group"><span class="input-group-btn">',
            html += '<button type="button" class="btn btn-default btn-adult' + divId + '" disabled="disabled" data-type="minus" data-field="quant[' + divId + ']"><span class="fa fa-minus"></span>',
            html += '</button></span><input type="text" readonly name="quant[' + divId + ']" class="form-control input-adult' + divId + '" value="1" min="1" max="10"><span class="input-group-btn">',
            html += '<button type="button" class="btn btn-default btn-adult" data-type="plus" data-field="quant[' + divId + ']"><span class="fa fa-plus"></span>',
            html += '</button></span></div></div></div></div><div class="adult_age"><div class="col-md-6"><div class="row"><h6>Children</h6>',
            html += '<p>Below 0 years</p></div></div><div class="col-md-6"><div class="row"><div class="input-group"><span class="input-group-btn">',
            html += '<button type="button" class="btn btn-default btn-children' + children + '" disabled="disabled" data-type="minus" data-field="quant[' + children + ']">',
            html += '<span class="fa fa-minus"></span></button></span><input type="text" readonly name="quant[' + children + ']" class="form-control input-children' + children + '" value="1" min="1" max="10">',
            html += '<span class="input-group-btn"><button type="button" class="btn btn-default btn-children' + children + '" data-type="plus" data-field="quant[' + children + ']">',
            html += '<span class="fa fa-plus"></span></button></span></div></div></div></div><a href="javascript:void(0)" onclick="removeDiv(' + divId + ');" class="pull-right">Remove</a></div>';
            $('.room_base').html(html);
            divId = divId + 1;
            children = children + 1;
        }
        function removeDiv(id) {
            $('.room_base').each(function () {
                var dID = $(this).find('.room_list').attr('id');
                if (dID == id) {
                    $(this).find('.room_list').remove();
                }
            })
        }
    </script>

</body>
</html>
