<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/Content/bootstrap-3.2.0.min.css" rel="stylesheet">
</head>
<body class="main-bdy">
    <div class="common-header">
        <div class="container">
            <div class="row">
                <div class="common-nav">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                My Account <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>
                                <div class="nav-list">
                                    <img src="~/Content/images/user.png" />
                                    <ul>
                                        <li><a href="javascript:void(0)">My Booking</a></li>
                                        <li><a href="javascript:void(0)">My Whitelist</a></li>
                                    </ul>
                                    <span class="pull-left"><a href="/User/Login">Login</a></span>
                                    <span class="pull-right"><a href="/User/Register">SignUp</a></span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Support <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>
                                <div class="nav-list">
                                    <ul>
                                        <li><a href="javascript:void(0)">Contact Us</a></li>
                                        <li><a href="javascript:void(0)">Complete Booking</a></li>
                                        <li><a href="javascript:void(0)">Make a Payment</a></li>
                                        <li><a href="javascript:void(0)">Hotel Cancellation Charges</a></li>
                                    </ul>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Recent Search <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>

                                <div class="nav-list">
                                    <p>Things you viewed while searching are saved here.</p>
                                    @*<ul>
                                            <li><a href="javascript:void(0)">Contact Us</a></li>
                                            <li><a href="javascript:void(0)">Complete Booking</a></li>
                                            <li><a href="javascript:void(0)">Make a Payment</a></li>
                                            <li><a href="javascript:void(0)">Hotel Cancellation Charges</a></li>
                                        </ul>*@

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundle/jquery")
    <script type="text/javascript" src="~/Content/DateRangerPicker/js/pignose.calendar.full.js"></script>
    <script type="text/javascript">
        $('.checkinDate').click(function () {
            $('.calendar').css('display', 'block');
            $('.calendar').css('left', '39%');
            $('.search_box').css('display', 'none');
            $('.roomDetails').css('display', 'none');

        });
        $('.checkoutDate').click(function () {
            $('.calendar').css('display', 'block');
            $('.search_box').css('display', 'none');
            $('.roomDetails').css('display', 'none');
        });
        var date = new Date();
        var finalDate = date.getFullYear() + "-" + date.getMonth() + 1 + "-" + date.getDate();
        $('.calendar').pignoseCalendar({
            multiple: false,
            theme: 'blue',
            toggle: false,
            format: 'DD-MMM-YYYY',
            minDate: finalDate,
            select: function (dates, context) {
                context.context.settings.multiple = true;
                $('.calendar').css('left', '52.3%')
                $('.checkinDate').val(dates[0].format('DD-MMM-YYYY'));
                $('.checkoutDate').val(dates[1].format('DD-MMM-YYYY'));
                if (dates[1] != null) {
                    $('.calendar').css('display', 'none');
                }
            }
        });
        $('.search_box ul li a').click(function () {
            $('.searchBox').val($(this).text());
            $('.search_box').css('display', 'none');
        })
        var divId = 0;
        var children = 2;
        var adultQuant = 0;
        var childQuant = 1;
        var html = '';
        $(document).ready(function () {
            addRoom(0);
            $('.rooMHover').click(function () {
                $('.calendar').css('display', 'none');
                $('.search_box').css('display', 'none');
                $('.roomDetails').toggle();
            });

            $('.datePicker').keydown(function () {
                return false;
            });
            $('.searchBox').click(function () {
                $('.calendar').css('display', 'none');
                $('.roomDetails').css('display', 'none');
            })
            $('.searchBox').keyup(function () {
                if ($(this).val().length > 0 && $(this).val().length >= 3) {
                    $('.mapIcon').removeClass('fa-map-marker');
                    $('.mapIcon').addClass('fa-circle-o-notch fa-spin');
                    setTimeout(function () {
                        $('.mapIcon').addClass('fa-map-marker');
                        $('.mapIcon').removeClass('fa-circle-o-notch fa-spin');
                        $('.search_box').css('display', 'block');
                    }, 3000);


                }
                else {
                    $('.mapIcon').addClass('fa-map-marker');
                    $('.mapIcon').removeClass('fa-circle-o-notch fa-spin');
                    $('.search_box').css('display', 'none');
                }
            });
            $('.searchBox').focusout(function () {
                $('.mapIcon').addClass('fa-map-marker');
                $('.mapIcon').removeClass('fa-circle-o-notch fa-spin');
            });
            $('.switchType').change(function () {
                $('.roomDetails').hide();
                if ($(this).is(":checked")) {

                    $('.hotelBase').removeClass('bounceOutLeft');
                    $('.hotelBase').addClass('bounceInRight');
                    $('.holidayBase').addClass('bounceOutLeft');
                    $('.holidayBase').removeClass('bounceInRight');
                }
                else {
                    $('.hotelBase').removeClass('bounceInRight');
                    $('.hotelBase').addClass('bounceOutLeft');
                    $('.holidayBase').removeClass('bounceOutLeft');
                    $('.holidayBase').addClass('bounceInRight');
                    $('.holidayBase').css('display', 'block');
                }

            });
            var Pepole = 0;
            $('.saveRoom').click(function () {
                Pepole = 0;
                $(".room_list :text").each(function () {
                    var value = parseInt($(this).val());
                    Pepole = Pepole + value;
                });
                var Room = divId + 1;
                $('.room_val').val(Pepole + " Pepole " + Room + " Room");
                $('.roomDetails').hide();
            });
        });
        function addRoom(val) {
            divId = divId + val;
            adultQuant = adultQuant + val;
            childQuant = childQuant + val;
            children = children + val;
            html = '';

            for (var i = 0; i <= divId; i++) {

                html += '<div class="room_list" id=' + i + '><h5>Room ' + parseInt(i + 1) + ':</h5><div class="adult_age"><div class="col-md-6"><div class="row"><h6>Adults</h6>',
                html += '<p>Above 12 years</p></div></div><div class="col-md-6"><div class="row"><div class="input-group"><span class="input-group-btn">',
                html += '<button type="button" onclick="adultFunc(this);" class="btn btn-default btn-adult' + i + '" disabled="disabled" data-type="minus" data-field="quant[' + adultQuant + ']"><span class="fa fa-minus"></span>',
                html += '</button></span><input type="text" onfocusin="adultFocusin(this);" onchange="adultChange(this,' + i + ');" readonly name="quant[' + adultQuant + ']" class="adultCount form-control input-adult' + i + '" value="1" min="1" max="4"><span class="input-group-btn">',
                html += '<button type="button" onclick="adultFunc(this);" class="btn btn-default btn-adult' + i + '" data-type="plus" data-field="quant[' + adultQuant + ']"><span class="fa fa-plus"></span>',
                html += '</button></span></div></div></div></div><div class="adult_age"><div class="col-md-6"><div class="row"><h6>Children</h6>',
                html += '<p>Below 12 years</p></div></div><div class="col-md-6"><div class="row"><div class="input-group"><span class="input-group-btn">',
                html += '<button type="button" onclick="childFunc(this);" class="btn btn-default btn-children' + children + '" disabled="disabled" data-type="minus" data-field="quant[' + childQuant + ']">',
                html += '<span class="fa fa-minus"></span></button></span><input type="text" onfocusin="childFocusin(this);" onchange="childChange(this,' + children + ');" readonly name="quant[' + childQuant + ']" class="childrenCount form-control input-children' + children + '" value="0" min="0" max="4">',
                html += '<span class="input-group-btn"><button type="button" onclick="childFunc(this);" class="btn btn-default btn-children' + children + '" data-type="plus" data-field="quant[' + childQuant + ']">',
                html += '<span class="fa fa-plus"></span></button></span></div></div></div></div><a href="javascript:void(0)" onclick="removeDiv(' + i + ');" class="removeBtn pull-right">Remove</a></div>';
                adultQuant = adultQuant + 2;
                childQuant = childQuant + 2;
            }

            $('.room_base').html(html);
            $('.room_list').each(function () {
                var dID = $(this).attr('id');
                if (dID != 0) {

                    $(this).find('.removeBtn').css('display', 'block');
                }
                else {
                    $(this).find('.removeBtn').css('display', 'none');
                }
            });

            // divId = divId + 1;

        }
        function childFunc(e) {
            e.preventDefault;

            fieldName = $(e).attr('data-field');
            type = $(e).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(e).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();
                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(e).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }
        }
        function childFocusin(e) {
            $(e).data('oldValue', $(e).val());
        }
        function childChange(e, children) {
            minValue = parseInt($(e).attr('min'));
            maxValue = parseInt($(e).attr('max'));
            valueCurrent = parseInt($(e).val());

            name = $(e).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-children" + children + "[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(e).val($(e).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-children" + children + "[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(e).val($(e).data('oldValue'));
            }
        }
        function adultFunc(e) {
            e.preventDefault;

            fieldName = $(e).attr('data-field');
            type = $(e).attr('data-type');
            var input = $("input[name='" + fieldName + "']");
            var currentVal = parseInt(input.val());
            if (!isNaN(currentVal)) {
                if (type == 'minus') {

                    if (currentVal > input.attr('min')) {
                        input.val(currentVal - 1).change();

                    }
                    if (parseInt(input.val()) == input.attr('min')) {
                        $(e).attr('disabled', true);
                    }

                } else if (type == 'plus') {

                    if (currentVal < input.attr('max')) {
                        input.val(currentVal + 1).change();

                    }
                    if (parseInt(input.val()) == input.attr('max')) {
                        $(e).attr('disabled', true);
                    }

                }
            } else {
                input.val(0);
            }

        }
        function adultFocusin(e) {
            $(e).data('oldValue', $(e).val());
        }
        function adultChange(e, divId) {
            minValue = parseInt($(e).attr('min'));
            maxValue = parseInt($(e).attr('max'));
            valueCurrent = parseInt($(e).val());

            name = $(e).attr('name');
            if (valueCurrent >= minValue) {
                $(".btn-adult" + divId + "[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the minimum value was reached');
                $(e).val($(e).data('oldValue'));
            }
            if (valueCurrent <= maxValue) {
                $(".btn-adult" + divId + "[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
            } else {
                alert('Sorry, the maximum value was reached');
                $(e).val($(e).data('oldValue'));
            }
        }
        function removeDiv(id) {
            $('.room_base').each(function () {
                var dID = $(this).find('.room_list').attr('id');
                if (dID == id) {
                    $(this).find('.room_list').remove();
                }
            });
            divId = divId - 1;
            children = children - 1;
            adultQuant = adultQuant - 1;
            childQuant = childQuant - 1;
            html = '';
            addRoom(0);
        };
    </script>

</body>
</html>
