<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/Content/jquery.toast.min.css" rel="stylesheet" />
</head>
<body class="login_body">
    <div class="login_header">
        <div class="container">
            <div class="login_top">
                <div class="common-nav">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                Are you hotelier? <img src="~/Content/images/sort-down.svg" />
                            </a>
                            <div class="nav-drop">
                                <div class="triangle-with-shadow">

                                </div>
                                <div class="drop_body">
                                    <a href="/Agent/Login/" class="btn_active">Login </a>
                                    <p>Don't have an account?</p>
                                    <hr />
                                    <a href="/Agent/Register/">Register</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundle/jquery")

    <script src="~/scripts/jquery.toast.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".nextLogin").click(function () {

                if (checkEmail()) {
                    $('.emailBase').removeClass("zoomIn");
                    $('.emailBase').addClass("zoomOut");
                    $('.passwordBase').removeClass("bounceOutRight");
                    $('.passwordBase').addClass("bounceInRight");
                    $('.passwordBase').css("display", 'block');
                }
                else {
                    return false;
                }

            });
            $(".fa-arrow-left").click(function () {
                $('.passwordBase').removeClass("bounceInRight");
                $('.emailBase').addClass("zoomIn");
                $('.passwordBase').addClass("bounceOutRight");
                $('.emailBase').removeClass("zoomOut");
            });
        });
        function checkEmail() {

            try {
                let Email = $('.emailId').val();
                if (Email != null && Email != "") {
                    $.get("/User/GetEmail", { email: Email }, function (data) {
                        if (data.res == true) {
                            return true;
                        }
                        else {
                            $.toast({
                                heading: 'Invalid Email ID',
                                text: 'This email id not registered with JAC rooms.',
                                showHideTransition: 'fade',
                                icon: 'error'
                            })

                            return false;
                        }
                    });
                }
                else {
                    $.toast({
                        heading: 'Required*',
                        text: 'Please Enter Email ID',
                        showHideTransition: 'fade',
                        icon: 'error'
                    })
                    return false;
                }
            }
            catch (e) { }
        }
    </script>
</body>
</html>
