
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/User/_LayoutOutside.cshtml";
}
<form action="@Url.Action("LoggingIN","User")" method="post">
    <div class="register_base">
        <div class="container">
            <div class="row">
                <div class="register_form loginForm emailBase slideInDown">
                    <h2>Welcome to JAC <span>Rooms</span></h2>
                    <p>Please Login to continue</p>
                    <div class="loginInside">
                        <div class="logingImg">
                            <img src="~/Content/images/user.png" />
                        </div>
                        <div class="form-group">
                            <label for="Email Id">Your Email ID<span class="mandate">*</span></label>
                            <input type="email" class="emailId form-control" id="emailId" name="EmailID" placeholder="Registered Email ID">
                        </div>

                        <div class="form-group">
                            <a href="javascript:void(0)" class="nextLogin btn btn-danger">Continue</a>
                        </div>
                        <div class="quickLinks">
                            <p>@Html.ActionLink("Don't have an account?", "Register")</p>
                        </div>
                    </div>

                </div>
                <div class="register_form loginForm passwordBase">
                    <i class="fa fa-arrow-left pull-left"></i>
                    <h2>Welcome to JAC <span>Rooms</span></h2>
                    <p>Please Sign In to continue</p>
                    <div class="loginInside">
                        <div class="logingImg">
                            <img src="~/Content/images/user.png" />
                        </div>
                        <div class="form-group">
                            <label for="Email Id">Password<span class="mandate">*</span></label>
                            <input type="text" class="form-control" id="Password" name="Password" placeholder="Enter your Password">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-danger" value="Login" />
                        </div>
                        <div class="quickLinks">
                            <p> <a href="javascript:void(0)" onclick="showModal('forgotPassword', 'zoomIn', 'zoomOut');">Forgot password?</a></p>
                            <p>@Html.ActionLink("Login as a different user", "Login")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</form>
<div class="modal-bg">
    <div class="modal-inner forgotPassword">
        <div class="modal-hdr">
            <h2>Forgot Password <i onclick="hideModal('forgotPassword', 'zoomOut', 'zoomIn');" class="fa fa-times-rectangle pull-right"></i></h2>
            <p>Enter the email address associated with Jacrooms.com and click Submit</p>
        </div>
        <div class="modal-bdy">
            <input type="text" id="ForgotEmailID" class="form-control" placeholder="Enter your registered email id" />
            <input type="button" class="btn-primary" id="btnFogotPassword" onclick="LoadData()" value="Submit" />
        </div>

    </div>
</div>


<script type="text/javascript">
    //$(document).ready(function()
    //{

    //})
    function LoadData()
    {
        debugger;
        var data = {
            email: $('#ForgotEmailID').val()
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("ForgotPassword")',
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                 alert("Data has been added successfully.");
                //LoadData();
            },
            error: function () {
                alert("Error while inserting data");
            }
        });
    }

</script>

