
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_CommonLayout.cshtml";
}

<div class="loading-bar">
    <div class="progress"></div>
    <div class="content">
        Finding the best stays for you in Delhi
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="search-modification">
            <div class="triangle-with-shadow"></div>
            <div class="search-area">

            </div>
        </div>
    </div>
</div>


