
@{
    ViewBag.Title = "Extranet";
    Layout = "~/Views/Agent/_FirstTimeHotelLayout.cshtml";
}


<div class="extranet_base">
    <div class="container">
        <div class="row">
            <div class="extranet_body">
                <h1>Welcome Hotelier</h1>
                <h4>Your account has been created successfully</h4>
                <h5>You can now add your property details</h5>
                <div class="property_module">
                    <div class="top">
                        <h2 class="pull-left">Property</h2>
                    </div>
                    <ul class="tab-header nav nav-tabs">
                        <li id="1" class="active"><a data-toggle="tab" href="#basicInfo">Step 1:<br />Basic Info*</a></li>
                        <li id="2"><a data-toggle="tab" href="#contact">Step 2:<br />Contact*</a></li>
                        <li id="3" class="disabled"><a data-toggle="tab" href="#rooms">Step 3:<br />Rooms*</a></li>
                        <li id="4" class="disabled"><a data-toggle="tab" href="#photos">Step 4:<br />Photos*</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="basicInfo" class="tab-pane fade in active">
                            <div class="panel-first">
                                <div class="panelBody">

                                    <form id="basicInfoForm" class="form-horizontal">
                                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Hotel Name*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" name="HotelName" AlphaNumeric id="hotelName" placeholder="Enter hotel name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Hotel Type</label>
                                                <div class="col-sm-9">
                                                    <select class="selectpicker" id="HotelType" name="HotelType">
                                                        <option selected="selected">Select hotel type</option>
                                                        <option value="Resort">Resort</option>
                                                        <option value="Hotel">Hotel</option>
                                                        <option value="Motel">Motel</option>
                                                        <option value="BnB">BnB</option>
                                                        <option value="Homestay">Homestay</option>
                                                        <option value="Tent">Tent</option>
                                                        <option value="Appartment">Service Appartment</option>
                                                        <option value="Bungalow">Bungalow</option>
                                                        <option value="Loadge">Loadge</option>
                                                        <option value="GuestHouse">Guest House</option>
                                                        <option value="Hostel">Hostel</option>
                                                        <option value="Cattage">Cattage</option>
                                                        <option value="Houseboat">Houseboat</option>
                                                        <option value="Villa">Villa</option>
                                                        <option value="Palace">Palace</option>
                                                        <option value="BeachHut">Beach Hut</option>
                                                        <option value="Yacht">Luxury Yacht</option>
                                                        <option value="FarmStay">Farm Stay</option>
                                                        <option value="Herritage">Herritage</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Star Rating*</label>
                                                <div class="col-sm-9">
                                                    <select class="selectpicker" id="HotelStar" name="HotelStar">
                                                        <option value="1" selected="selected">*</option>
                                                        <option value="2">* *</option>
                                                        <option value="3">* * *</option>
                                                        <option value="4">* * * *</option>
                                                        <option value="5">* * * * *</option>
                                                        <option value="0">No star</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Base Currency</label>
                                                <div class="col-sm-9">
                                                    <select class="selectpicker" id="Currency" name="Currency">
                                                        <option value="INR" selected="selected">Indian rupee</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">No. of Rooms*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" NumberOnly name="HotelRooms" id="HotelRooms" placeholder="Enter no. of rooms">
                                                </div>
                                            </div>
                                            

                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Checkin Time*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control timepicker" id="HotelCheckInTime" name="HotelCheckInTime" placeholder="Enter checkin time">
                                                </div>
                                            </div>



                                        </div>
                                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Currency</label>
                                                <div class="col-sm-9">
                                                    <select class="selectpicker" id="Currency" name="Currency">
                                                        <option value="INR" selected="selected">Indian rupee</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Country*</label>
                                                <div class="col-sm-9">
                                                    <select class="selectpicker" onchange="BindStateDropDown('State', this.value);" data-live-search="true" id="Country" name="Country">
                                                        @*<option value="IN" selected="selected">India</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">State*</label>
                                                <div class="col-sm-9">
                                                    <select class="selectpicker" onchange="BindCityDropDown('City', this.value);" id="State" data-live-search="true" name="State"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">City*</label>
                                                <div class="col-sm-9">
                                                    <select class="selectpicker" id="City" data-live-search="true" name="City"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Zip Code*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" NumberOnly maxlength="7" id="ZipCode" name="ZipCode" placeholder="Enter zipcode">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">CheckoutTime*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control timepicker" id="CheckOutTime" name="CheckOutTime" placeholder="Enter checkout time">
                                                </div>
                                            </div>
                                        </div>


                                        <input type="button" onclick="return InsertHotelBasicInfo()" id="submitHote" class="btn btn-danger" value="Save & Continue">
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div id="contact" class="tab-pane fade">
                            <div class="panel-first">
                                <div class="panelBody">

                                    <form id="contactInfoForm" class="form-horizontal">
                                        <div class="panelTitle">
                                            <span class="pull-left">Contact Info</span>
                                            <span class="pull-right">Mandatory field marked as (*)</span>
                                        </div>
                                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Hotel Phone*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" NumberOnly id="HotelPhone" name="HotelPhone" placeholder="Enter phone no.">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Hotel Email*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="HotelEmail" name="HotelEmail" placeholder="Enter hotel email">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Email List</label>
                                                <div class="col-sm-9">
                                                    <textarea cols="5" rows="8" class="form-control" id="HotelEmailList" name="HotelEmailList" placeholder="Separate email with commas(,)"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Hotel Mobile*</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="HotelMobile" name="HotelMobile" placeholder="Enter hotel mobile no.">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Phone List</label>
                                                <div class="col-sm-9">
                                                    <textarea cols="5" rows="5" class="form-control" id="HotelPhoneList" name="HotelPhoneList" placeholder="Separate phone with commas(,)"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-3" for="email">Website List</label>
                                                <div class="col-sm-9">
                                                    <textarea cols="5" rows="5" class="form-control" id="HotelWebsiteList" name="HotelWebsiteList" placeholder="Separate website with commas(,)"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="button" onclick="return InsertHotelContactInfo()" id="submitHotelContact" class="btn btn-danger" value="Save & Continue">
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div id="rooms" class="tab-pane fade">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                <i class="more-less glyphicon glyphicon-plus"></i>
                                                Add Rooms
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body panelBody">
                                            <form class="form-horizontal">
                                                <div class="panelTitle">
                                                    <span class="pull-left">Room Info</span>
                                                    <span class="pull-right">Mandatory field marked as (*)</span>
                                                </div>
                                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">

                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Description</label>
                                                        <div class="col-sm-9">
                                                            <textarea cols="5" id="RoomsDesc" name="RoomsDesc" rows="4" class="form-control RoomsDesc" AlphaNumeric></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Total Rooms*</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="totalRoom" NumberOnly maxlength="10" placeholder="Enter total rooms">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Room View</label>
                                                        <div class="col-sm-9">
                                                            <select class="selectpicker" id="roomView">
                                                                <option value="">Select view</option>
                                                                <option value="">None</option>
                                                                <option value="sv">Sea View</option>
                                                                <option value="vv">Valley View</option>
                                                                <option value="hv">Hill View</option>
                                                                <option value="pv">Pool View</option>
                                                                <option value="gv">Garden View</option>
                                                                <option value="rv">River View</option>
                                                                <option value="lv">Lake View</option>
                                                                <option value="plcv">Palace View</option>
                                                                <option value="bv">Bay View</option>
                                                                <option value="jv">Jungle View</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Price Per Night*</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="pricePerNight" AlphaNumeric placeholder="Eg : 1000">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Room Type*</label>
                                                        <div class="col-sm-9">
                                                            <select class="selectpicker" id="roomType">
                                                                <option value="0" selected="selected">Select Room Type</option>
                                                                <option value="deluxe">Deluxe</option>
                                                                <option value="standard">Standard</option>
                                                                <option value="luxury">Luxury</option>
                                                                <option value="master">Master</option>
                                                                <option value="common">Common</option>
                                                                <option value="tent">Tent</option>
                                                                <option value="other">other</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Display Name*</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="displayName" AlphaNumeric placeholder="Enter display name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Bed Type</label>
                                                        <div class="col-sm-9">
                                                            <select class="selectpicker" id="bedType">
                                                                <option value="" selected="selected">Select bed type</option>
                                                                <option value="twin">Twin</option>
                                                                <option value="king">King</option>
                                                                <option value="queen">Queen</option>
                                                                <option value="double">Double</option>
                                                                <option value="single">Single</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Extra Bed Type</label>
                                                        <div class="col-sm-9">
                                                            <select class="selectpicker" id="extraBed">
                                                                <option value="0">No Extra Bed</option>
                                                                <option value="1">Matress</option>
                                                                <option value="2">Cot</option>
                                                                <option value="3">Sofa cum bed</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="panelTitle">
                                                    <span class="pull-left">Room Occupancy</span>
                                                </div>
                                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Adult(Base)</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control minAdult" NumberOnly id="minAdult" value="2" placeholder="Enter adult base">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Adult(Max)</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control maxAdult" NumberOnly id="maxAdult" value="3" placeholder="Enter max adult">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Infant(Max)</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control maxInfant" NumberOnly id="maxInfant" value="1" placeholder="Enter max infant">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Child(Base)*</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control minChild" NumberOnly id="minChild" value="0" placeholder="Enter child base">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Child(Max)</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control maxChild" id="maxChild" value="2" placeholder="Enter maz child">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-3" for="email">Guest(Max)</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control maxGuest" NumberOnly id="maxGuest" value="4" placeholder="Enter max guest">
                                                        </div>
                                                    </div>
                                                </div>
                                                <button id="saveRoomData" onclick="return SaveHotelRoomData(this)" flag="A" class="btn btn-danger" value="Save & Continue"></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" expanded="false" aria-controls="collapseTwo">
                                                <i class="more-less glyphicon glyphicon-plus"></i>
                                                Existing Rooms
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <table class="table table-bordered roomTable" id="roomTable">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Room Name</th>
                                                        <th>Description</th>
                                                        <th>Actions</th>
                                                        <th>Status</th>
                                                        <th>Rateplan</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- panel-group -->

                        </div>
                        <div id="photos" class="tab-pane fade">
                            <div class="photo-gallery">
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#uploadHotelImages" class="btn btn-danger"><i class="fa fa-plus-square"></i>Add Images</a>

                                <div id="buttons"></div>
                                <div id="gallery">
                                    <div class="row" id="images">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
