
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Agent/_AgentLayout.cshtml";
}

<div class="agent_body">
    <div class="container">
        <div class="agent_module_base">
            <div class="property_module inventory_module">
                <div class="top">
                    <h2 class="pull-left">Inventory</h2>
                </div>
                <ul class="tab-header nav nav-tabs">
                    <li id="1" class="active"><a data-toggle="tab" href="#roomView">Room View</a></li>
                    <li id="2"><a data-toggle="tab" href="#rateView">Rate View</a></li>
                    <li id="3"><a data-toggle="tab" href="#manageRoom">Manage Rooms</a></li>
                    <li id="4"><a data-toggle="tab" href="#manageRates">Manage Rates</a></li>
                </ul>

                <div class="tab-content">
                    <div id="roomView" class="tab-pane fade in active">
                        <div class="panel-first">
                            <table class="tHead">
                                <tr>
                                    <td><a href="javascript:void(0)" onclick="previouTran();"><i class="fa fa-angle-double-left"></i>Last 5 Transaction</a></td>
                                    <td>
                                        <ul class="bedgesList">
                                            <li><span class="label label-primary">Sold</span></li>
                                            <li><span class="label label-success">Available</span></li>
                                            <li><span class="label label-default">Block</span></li>
                                            <li><span class="label label-danger">Hotel Sold Out</span></li>
                                        </ul>
                                    </td>
                                    <td><a href="javascript:void(0)" onclick="nextTran();">Next 5 Transaction<i class="fa fa-angle-double-right"></i></a></td>
                                </tr>
                            </table>
                            <div class="panelBody" id="roomVLayout">
                            </div>

                        </div>
                    </div>
                    <div id="rateView" class="tab-pane fade">
                        <div class="panel-first">
                            <table class="tHead">
                                <tr>
                                    <td><a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i>Last 5 Transaction</a></td>
                                    <td>
                                        <ul class="bedgesList">
                                            <li><span class="label label-primary">Sold</span></li>
                                            <li><span class="label label-success">Available</span></li>
                                            <li><span class="label label-default">Block</span></li>
                                            <li><span class="label label-danger">Hotel Sold Out</span></li>
                                        </ul>
                                    </td>
                                    <td><a href="javascript:void(0)">Next 5 Transaction<i class="fa fa-angle-double-right"></i></a></td>
                                </tr>
                            </table>
                            <div class="panelBody" id="rateVLayout">
                            </div>

                        </div>
                    </div>
                    <div id="manageRoom" class="tab-pane fade">
                        <div class="panel-body panelBody">
                            <div id="msg" style="padding-right: 25px;"></div>
                            <form class="form-horizontal">
                                <div class="panelTitle">
                                    <span class="pull-left">Manage Room Inventory</span>
                                    <span class="pull-right">Mandatory field marked as (*)</span>
                                </div>
                                <div class="col-lg-9 col-xs-12 col-sm-9 col-md-9">
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Room Type</label>
                                        <div class="col-sm-9">
                                            <select id="roomType" class="selectpicker"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Start Date*</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control inventoryDate" id="startDate" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">End Date*</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control inventoryDate" id="endDate" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Days Of Week*</label>
                                        <div class="col-sm-9 daysList">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" style="display:block!important;" id="checkAll" checked value="All">Check All
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" style="display:block!important;" checked value="Mon">Mon
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" style="display:block!important;" checked value="Tue">Tue
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" style="display:block!important;" checked value="Wed">Wed
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" style="display:block!important;" checked value="Thu">Thu
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" style="display:block!important;" checked value="Fri">Fri
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" style="display:block!important;" checked value="Sat">Sat
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" style="display:block!important;" checked value="Sun">Sun
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3" for="email">Available Inventory*</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"  id="availableInventory" numeric placeholder="Only Digit..">
                                        </div>
                                    </div>
                                    <button id="saveInventory" class="btn btn-danger" onclick="return SaveHotelInventory();">Update Inventory</button>
                                </div>
                                
                            </form>
                        </div>

                    </div>
                    <div id="manageRates" class="tab-pane fade">
                        <div class="photo-gallery">
                            <a href="javascript:void(0)" onclick="showModal('uploadHotelImages', 'zoomIn', 'zoomOut');" class="btn btn-danger"><i class="fa fa-plus-square"></i>Add Images</a>
                            <div id="buttons"></div>
                            <div id="gallery">
                                <div class="row">
                                    <div class="col-md-2 base" data-tags="Blog">
                                        <div class="thumbnail">
                                            <img src="https://picsum.photos/600/450?image=776" alt="Lights" style="width:100%">
                                            <div class="caption">
                                                <span class="pull-left">Active</span>
                                                <span class="pull-right">Remove</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 base" data-tags="Blog1">
                                        <div class="thumbnail">
                                            <img src="https://picsum.photos/600/450?image=776" alt="Lights" style="width:100%">
                                            <div class="caption">
                                                <span class="pull-left">Active</span>
                                                <span class="pull-right">Remove</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 base" data-tags="Blog">
                                        <div class="thumbnail">
                                            <img src="https://picsum.photos/600/450?image=776" alt="Lights" style="width:100%">
                                            <div class="caption">
                                                <span class="pull-left">Active</span>
                                                <span class="pull-right">Remove</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 base" data-tags="Blog1">
                                        <div class="thumbnail">
                                            <img src="https://picsum.photos/600/450?image=776" alt="Lights" style="width:100%">
                                            <div class="caption">
                                                <span class="pull-left">Active</span>
                                                <span class="pull-right">Remove</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 base" data-tags="Blog">
                                        <div class="thumbnail">
                                            <img src="https://picsum.photos/600/450?image=776" alt="Lights" style="width:100%">
                                            <div class="caption">
                                                <span class="pull-left">Active</span>
                                                <span class="pull-right">Remove</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 base" data-tags="Blog1">
                                        <div class="thumbnail">
                                            <img src="https://picsum.photos/600/450?image=776" alt="Lights" style="width:100%">
                                            <div class="caption">
                                                <span class="pull-left">Active</span>
                                                <span class="pull-right">Remove</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="~/scripts/CommonValidator/CommonValidator.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>