<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/agent_style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="~/Content/jquery.toast.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.toast.css" rel="stylesheet" />
    <link href="~/Content/nice-select.css" rel="stylesheet" />
</head>
<body class="login_body">
    <div class="login_header">
        <div class="container">
            <div class="login_top">
                <div class="top_nav">
                    <span>Already have an account? <a href="javascript:Void(0)" class="btn btn-danger">Login now</a></span>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-1.4.2.min.js"></script>
    <script src="~/scripts/jquery-1.8.5.min.js"></script>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/jquery.toast.js"></script>
    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/jquery.nice-select.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').niceSelect();
            //$('.nextLogin').click(function () {
            //    $.toast({
            //        heading: 'Success',
            //        text: 'Email has been sent successfully click on the link to activate account.',
            //        showHideTransition: 'slide',
            //        icon: 'success'
            //    })
            //})
            //$(".nextLogin").toggle(function () {
            //    //$('.agent_register').removeClass("zoomIn");//bounceOutLeft
            //    //$('.agent_register').addClass("zoomOut");//bounceOutLeft
            //    $('.addProperty').removeClass("bounceOutRight");
            //    $('.addProperty').addClass("bounceInRight");
            //    $('.addProperty').css("display", 'block');

            //}, function () {
            //   // $('.agent_register').removeClass("zoomIn");//bounceOutLeft
            //   // $('.agent_register').addClass("zoomOut");//bounceOutLeft
            //    $('.addProperty').removeClass("bounceOutRight");
            //    $('.addProperty').addClass("bounceInRight");
            //    // $('.passwordBase').css("display", 'none');
            //});
            //fa-arrow-left
            $(".nextLogin").click(function () {
                $('.agent_register').removeClass("slideInDown");
                $('.agent_register').removeClass("zoomIn");
                $('.agent_register').addClass("zoomOut");
                $('.addProperty').removeClass("bounceOutRight");
                $('.addProperty').addClass("bounceInRight");
                $('.addProperty').css("display", 'block');

            });
            $(".addProbtn").click(function () {
                $('.addProperty').removeClass("bounceInRight");
                $('.addProperty').removeClass("zoomIn");
                $('.addProperty').addClass("zoomOut");
                $('.hotelInfo').removeClass("bounceOutRight");
                $('.hotelInfo').addClass("bounceInRight");
                $('.hotelInfo').css("display", 'block');

            });
            $(".addProPre").click(function () {
                $('.addProperty').removeClass("zoomIn");
                $('.agent_register').removeClass("zoomOut");//bounceOutLeft
                $('.addProperty').removeClass("bounceInRight");
                $('.agent_register').addClass("zoomIn");//bounceOutLeft

                $('.addProperty').addClass("bounceOutRight");
                //   $('.passwordBase').css("display", 'none');

            });
            $(".hoteInfoPre").click(function () {
                $('.addProperty').removeClass("zoomOut");//bounceOutLeft
                $('.hotelInfo').removeClass("bounceInRight");
                $('.addProperty').addClass("zoomIn");//bounceOutLeft

                $('.hotelInfo').addClass("bounceOutRight");
                //   $('.passwordBase').css("display", 'none');

            });
           


        });

    </script>
</body>
</html>
