
@{
    ViewBag.Title = "register";
    Layout = "~/Views/Agent/_LayoutOutside.cshtml";
}


@using (Html.BeginForm("RegisterAgent", "Agent"))
{
    <div class="register_base">
        <div class="container">
            <div class="row">
                <div class="register_form loginForm agent_register slideInDown">
                    <div class="ttl">
                        Its Free. Sign up now!
                    </div>
                    <div class="loginInside">
                        <div class="form-group">
                            <label for="Email Id">Full Name<span class="mandate">*</span></label>
                            <input type="text" class="form-control" id="FullName" name="FullName" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label for="HotelType">Hotel Type<span class="mandate">*</span></label>
                            <select id="HotelType" name="HotelType">
                                <option value="1" selected="selected">Hotel</option>
                                <option value="2">Hotel Chain</option>
                                <option value="3">Channel Manager</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="Email Id">Email<span class="mandate">*</span></label>
                            <input type="email" class="form-control" id="emailId" name="EmailID" placeholder="Email ID">
                            <p>Note : This will be your login id</p>
                        </div>
                        <div class="form-group">
                            <label for="Email Id">Create Password<span class="mandate">*</span></label>
                            <input type="text" class="form-control" id="Password" name="Password" placeholder="Create Password">
                        </div>
                        <div class="form-group">
                            <label for="Email Id">Confirm Password<span class="mandate">*</span></label>
                            <input type="text" class="form-control" id="CPassword" name="CPassword" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            @*<a href="javascript:void(0)" class="nextLogin btn btn-danger">Register</a>*@
                            <input type="submit" value="Register" class="nextLogin btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

