
@{
    ViewBag.Title = "register";
    Layout = "~/Views/Agent/_LayoutOutside.cshtml";
}

<form>
    <div class="register_base">
        <div class="container">
            <div class="row">
                <div class="register_form agent_register slideInDown">
                    <div class="ttl">
                        Its Free. Sign up now!
                    </div>
                    <div class="loginInside">
                        <div class="form-group">
                            <label for="Email Id">Full Name<span class="mandate">*</span></label>
                            <input type="text" class="form-control" maxlength="100" id="FullName" name="FullName" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label for="HotelType">Hotel Type<span class="mandate">*</span></label>
                            <select id="HotelType" name="HotelType">
                                <option value="1" selected="selected">Hotel</option>
                                <option value="2">Hotel Chain</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Email Id">Email<span class="mandate">*</span></label>
                            <input type="email" class="form-control" id="emailId" name="EmailID" autocomplete="off" placeholder="Email ID">
                            <p>Note : This will be your login id</p>
                        </div>
                        <div class="form-group">
                            <label for="Email Id">Create Password<span class="mandate">*</span></label>
                            <input type="password" data-toggle="tooltip" data-placement="right" autocomplete="off" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" class="form-control" id="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" required placeholder="Create Password">
                            <i class="fa fa-eye-slash eyeIcon pull-right" onclick="return showPassword(this,'Password');"></i>
                        </div>
                        <div class="form-group">
                            <label for="Email Id">Confirm Password<span class="mandate">*</span></label>
                            <input type="password" class="form-control" id="CPassword" name="CPassword" autocomplete="off" placeholder="Confirm Password">
                            <i class="fa fa-eye-slash eyeIcon pull-right" onclick="return showPassword(this, 'CPassword');"></i>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="nextLogin btn btn-danger" onclick="return checkAgentRegister();">
                                <i class="fa fa-spinner fa-spin insideButtonLoading"></i>Register
                            </button>
                        </div>
                        <div class="form-group msgArea">
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

</script>