
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserValidation</title>
</head>
<body>
    <div> 
       @if(ViewBag.Result !=  1)
       {
           <div>Not Successful Authenicated.</div>
       }
    </div>
</body>
</html>
